#griddy {
    /* code */
}

#deleteL {
    width: max-content;
}

#deletiongriddy {
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-columns: 25% 25% 25% 25%;
}

.deletiongriddywrap {
    /* code */
}

.duperaserclass {
    /* code */
}

#innerDeletionGriddy {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-start: 1;
    grid-column-end: 5;
    column-gap: 10px;
    width: 95%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
