/* SECTIONS! */
/*
NAVIGATION MENU
HOME PAGE GRAPHIC
HOME PAGE BUTTONS
POSTCARD TEMPLATE
READ LETTERS
FOOTER / CREDIT
*/

/*fonts

fallback = font: 14px "Trebuchet MS", Helvetica, sans-serif;
    font-family: 'Cabin', sans-serif;

    font-family: 'Comfortaa', cursive;

    font-family: 'Hanken Grotesk', sans-serif;

    font-family: 'Rubik', sans-serif;

    font-family: 'Kalam', cursive;

*/
 @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&family=Mali:wght@400;500;600;700&display=swap');

html {
    margin: 0;
    width: 100%;
    font-size: 100%;
    font-weight: 500;
    font-family: 'Hanken Grotesk', "Trebuchet MS", sans-serif;
}
* {
    box-sizing: border-box;
}
small {
    font-size: x-small;
}
body {
    /*border: 1px solid yellow;*/
    margin: 0;
    padding: 0;
    background-color: var(--pink4);
    /*background-image: url("https: //www.transparenttextures.com/patterns/otis-redding.png");*/
    background-image: url("/assets/background proj2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-size: 0.9em;
}
.colside {
    width: 23%;
    float: left;
    bottom: 50px;
    z-index: -100000;
}
.row:after {
    content: "";
    display: table;
    clear: both;
} 
.col {
    float: left;
    width: 40%;
}
.parallaxLEFT {
    /* The image used */
    background-image: url("/assets/img/parallaxLEFT.png");
    height: 565px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    left: 0;
  }
.parallaxRIGHT {
    /* The image used */
    background-image: url("/assets/img/parallaxRIGHT.png");
    height: 565px;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
  }
html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-track {
    background: #00000080;
    /*box-shadow: inset 0 0 5px var(--pink3);*/
    /*border-radius: 10px;*/
}
html::-webkit-scrollbar-thumb {
    background: #99AA00;
    /*border-radius: 10px;*/
}
html::-webkit-scrollbar-thumb:hover {
    background: #7C8500;
}
:root {
    --pink1: #ff60b0;
    --pink2: #ff2990;
    --pink3: #ff69b9;
    --pink4: #de376a;
    --red1: #bd0e23;
    --red2: #cd0b24;
    --red3: #e80724;
    --blue1: #02394a;
    --blue2: #043565;
    --blue3: #5158bb;
    --brown1: #453823;
    --blue4: #39a2ae;
    --blue5: #55dbcb;
    --violet1: #2e294e;
    --violet2: #541388;
    --eggshell: #f1e9da;
    --purple1: #3f1651;
    --purple2: #653780;
    --purple3: #9c3587;
    --purple4: #1a1423;
    --purple5: #372549;
    --green1: #14342b;
    --green2: #60935d;
    --yellow1: #e2f1af;
    --yellow2: #e3d888;
    --brown2: #84714f;
    --grey1: #46494c;
    --grey2: #DCDCDD;
}
a {
    /*text-decoration: none;*/
    color: black;
}
i {
    font-size: smaller;
    vertical-align: -0.1em;
}

/*NAVIGATION MENU*/
header {
    /*border: 2px solid greenyellow;
    #df3a6b
    #de376a
    #db245b
    #c52052*/
    text-align: center;
    width: 100%;
    margin: 0 0 5vh;
    background-color: #df3a6b;
    border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image: linear-gradient(to top, #de376a, #db245b, #c52052) 100 / 0 0 5px;
}
#banner {
    /* float: left; */
    position: absolute;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    left: 0;
    display: inline-flex;
    /* border: 1px solid yellow; */
    max-height: 50px;
    max-width: 50px;
    flex-direction: column;
}
#logo {

}
nav {
    width: max-content;
    margin: auto;
    padding: 15px 0 15px;
    overflow: hidden;
}
nav a {
    text-decoration: none;
    float: left;
    padding: 8px 12px;
    background-color: #F3E5F5;
    color: #373737;
    font-size: 1.3em;
    font-weight: bold;
}
nav a:hover {
    background-color: #373737;
    color: white;
}
.dropdown {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#dropdowncontent {
    display: none;
    float: right;
    clear: both !important;
    max-width: 250px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
#dropdowncontent a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.drop {
    display:block!important;
}
#aboutbtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.corners {
    border-bottom-right-radius: 0!important;
}
@media screen and (min-width: 300px) and (max-width: 430px) {
    nav {
        max-width: 95%;
        font-size: 0.65em;
    }
    nav a {
        padding: 8px 4px;
    }
    #letter-form-div {
        width:90%;
        font-size: 0.8em;
    }
    #nickname {
        font-size: 0.8em;
    }
    form {
        margin: 0;
        padding: 0 8px 5px!important;
    }
    #sendbtn {
        padding: 3px 5px!important;
        font-size: 1.1em!important;
    }
}
@media screen and (min-width: 431px) and (max-width: 600px) {
    nav {
        max-width: 95%;
        font-size: 0.65em;
    }
    nav a {
        padding: 8px 4px;
    }
    #letter-form-div {
        width:90%;
        font-size: 0.8em;
    }
    #nickname {
        font-size: 0.8em;
    }
    form {
        margin: 0;
        padding: 0 8px 5px!important;
    }
    #sendbtn {
        padding: 3px 5px!important;
        font-size: 1.1em!important;
    }
}



/*HOME PAGE GRAPHIC*/
#mailbox {
    position: relative;
    /* position: absolute; */
    width: min-content;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#static-mailbox {
    /*.png ver*/
    width: 350px;
}
#opening-mailbox {
    /*.gif ver*/
    width: 500px;
    display: none;
}


/*HOME PAGE BUTTONS*/
#choices {
    position: relative;
    margin-top: 35px;
    /*border: 3px solid #2196F3;*/
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    /*border: 3px solid #2196F3;*/
    display: block;
}
#choices a {
    text-decoration: inherit;
    color: inherit;
}
.centerbtns {
    margin: 0;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    /*-ms-transform: translate(-50%, -40%);*/
    /*transform: translate(-50%, -40%);*/
    /*border: 1px solid yellow;*/
    width: max-content;
}
.choicesbtn {
    /*here*/
    background-color: var(--red2);
    padding: 9px 5px 5px;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 130px;
    font-size: large;
    font-weight: bold;
    color: var(--eggshell);
    border: 2px outset var(--red3);
}
.choicesbtn:hover {
    background-color: white;
    color: var(--grey1);
    border: 2px inset var(--red3);
}
#readbtn {
    /*here*/
    margin-right: 100px;
}
#writebtn {
    /*here*/
    /*margin-left: 18px;*/
}



/*READ LETTERS*/
.grid-container {
    display: grid;
    max-width: 90%;
    column-gap: 111px;
    row-gap: 42px;
    justify-content: center;
    justify-items: stretch;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: stretch;
    align-content: stretch;
    border: 2px solid brown;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.grid-container > * {
    min-width: 0;
}
.grid-item img {
    max-width: 300px;
    width: 200px;
    margin: 0;
    display: initial;
}
/*POSTCARD TEMPLATE*/
.containerbox, .containerboxM {
    position: relative;
    min-width: 0;
    cursor: pointer;
    transition: 0.3s;
}
.containerboxM {
    width: fit-content;
}
.containerbox:hover {opacity: 0.7;}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#postcard, #postcardM {
    object-fit: contain;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}
#postcardM {
    max-width: fit-content;
}
.template {
    position: absolute;
    /*border: 1px solid lime;*/
    padding:0;
}
#contentbox, #contentboxM {
    top: 46%;
    left: 51%;
    transform: translate(-50%, -49%);
    height: 40%;
    width: 60%;
    font-size: x-small; /*xx-small resp small screen*/
    line-height: 16px; /*1.1 resp small screen*/
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding-right: 15px;
    padding-left: 5px;
    box-sizing: initial;
    border-radius: 8px;
    background: rgb(1 0 1 / 10%);
    scrollbar-color: var(--purple2) var(--pink4);
    scrollbar-width: thin;
}
#contentboxM{
    font-size: initial;
    line-height: normal;
}
#contentbox::-webkit-scrollbar, textarea::-webkit-scrollbar, #contentboxM::-webkit-scrollbar {
    width: 8px;
}
#contentbox::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track, #contentboxM::-webkit-scrollbar-track {
    background: var(--pink4);
    box-shadow: inset 0 0 5px var(--pink3);
    border-radius: 10px;
}
#contentbox::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb, #contentboxM::-webkit-scrollbar-thumb {
    background: var(--purple2);
    border-radius: 10px;
}
#contentbox::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover, #contentboxM::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-button:single-button {
    background-repeat: no-repeat;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 14px;
    width: 16px;
    background-position: center 4px;
    background-image: url("/assets/scrollbarUP.svg");
}
/*::-webkit-scrollbar-button:single-button:vertical:decrement:active {*/
/*    background-image: url("/assets/scrollbarUP.svg");*/
/*}*/
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 14px;
    width: 16px;
    background-position: center 5px;
    background-image: url("/assets/scrollbarDOWN.svg");
}
/*::-webkit-scrollbar-button:single-button:vertical:increment:active {*/
/*    background-image: url("/assets/scrollbarDOWN.svg");*/
/*}*/
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}
#namebox, #nameboxM {
    bottom: 17%;
    right: 15%;
    width: 27%;
    height: 8%;
    overflow: clip;
    line-height: 15px;
    font-size: x-small;
    text-align: center;
}
#nameboxM {
    font-size: initial;
    line-height: initial;
}
iframe {
    height: 180px;
    width: 272px;
}
div#griddy {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*WRITE LETTERS - FORM*/
#letter-form-div, #success-block {
    /*margin-top: 30svh;*/
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC1E3;
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    padding: 10px;
    box-shadow: 0 3px 9px darkslategray, inset 0 0 9px var(--eggshell);
}
#letter-form-div::after, #success-block::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(100deg, #D279EE, #F8C390);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
#success-block {
    text-align: center;
    padding: 50px 70px 40px;
}
#success-links {
    margin-top: 70px;
}
#success-links a {
    text-decoration: none;
    text-transform: uppercase;
    display: list-item;
    list-style: none;
    margin: 5px auto 5px;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
    color: #212121;
    font-family: 'Mali', cursive;
    font-weight: 700;
    font-size: small;
    transition: all 0.3s ease-in-out;
    background: #d1c4e9;
    border: solid 1px #212121;
    box-shadow: inset 0 0 0 2px white;
}
.button--primary {
    --button: hsl(346, 100%, 60%);
    --button-hover: hsl(346, 100%, 70%);
    --button-active:  hsl(346, 100%, 80%);
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: #1e1e1e;
    --button-border: #1e1e1e;
}
#success-links a:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px #ffffff;
}
#success-links a:active {
    background: var(--button-active);
}
#sucread {}
#sucwrite {}
#suchome {}
form {
    padding: 5px 20px 10px;
}
label {}
#letter-form-div > p {}
#sendbtn {
    font-family: 'Hanken Grotesk', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 4px solid deeppink;
    border-radius: 7px;
    padding: 7px 9px;
    background-color: #ff99cf;
    font-weight: 700;
    font-size: larger;
    box-shadow: inset 0 0 5px 2px deeppink, 1px 1px 8px 0 #B78AA2;
}
#sendbtn:hover {
    background-color: darkseagreen;
    border-color: seagreen;
    box-shadow: inset 0 0 5px 2px seagreen, 1px 1px 8px 0 #B78AA2;
    /*color: darkslategrey;*/
}
#yessign {}
#nosign {}
#nickname {
    border-radius: 5px;
    padding: 3px 7px;
}
#lettercontent {
    height: 150px;
    width: 100%;
    resize: none;
    border-radius: 5px;
}
textarea:focus, #nickname:focus {
    outline: medium ridge darkslateblue;

    /*background: rgba(0, 0, 0, 0.1);*/

}



/*FOOTER / CREDIT*/
footer {
    bottom:0;
    /*position: relative;*/
    padding-top: 10%;
    text-align: center;
    font-size: inherit;
    color: var(--eggshell);
}
footer a {
    font-style: normal;
    color: var(--eggshell);
}
footer a:hover {
    font-style: oblique;
    color: var(--pink3);
}
footer i {
    vertical-align: middle;
}
footer i.ph-key-bold:hover {
    color: gold;
    font-size: larger;
}
footer u {
    text-decoration: none;
    font-size: smaller;
    font-style: italic;
}


/* IDENTITY WIDGET */
div[data-netlify-identity-button] {
    /*outer container*/
    /*border: 2px solid mediumaquamarine;*/
    /*background: #55dbcb;*/
    /*width: max-content;*/
    font-size: xx-small;
}
.identity-overlay {
    width: max-content;
    /*outline: 3px solid grey;*/
    /*border-radius: 5px;*/
    padding: 2px 12px;
    /*float: right;*/
    /*position: absolute;*/
    /*left: 672px;*/
    /*bottom: -280px;*/
    display: contents;
}

/*approve or deny*/
#letter-sheet {
    height:auto;
    width: 100%;
}
form#approver {
    visibility: hidden;
}

/* submitted form success page */
#success-block {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

/*ABOUT PAGE DESIGNS*/
.abouth1 {
    margin:auto;
    width: max-content;
}
.box{
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
}
.box1{
    margin:25px auto;
    width:500px;
    height:230px;
    background:#fff;
    border: solid black;
}
.box2{
    margin:25px auto;
    width:500px;
    height:100px;
    background:#fff;
    border: solid black;
}
.box3{
    margin:25px auto;
    width:500px;
    height:110px;
    background:#fff;
    border: solid black;
}
.oddboxinner{
    margin:20px;
    transform: rotate(-2deg);
    overflow-wrap: break-word;
}
.evenboxinner{
    transform: rotate(2deg);
    margin:15px;
    padding:0 5px;
    float:right;
    background:#ddd;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
}
#groupphoto {
    height: 300px;
    margin: 20px auto;
    display: block;
    box-shadow: 8px 18px 12px 0 rgba(0, 0, 0, 0.1), -8px 26px 14px 0 rgba(0,0,0,0.1);
}


/*social media buttons*/
.clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.svg--source {
    display: none;
}
.svg--icon {
    width: 100%;
    max-width: 5rem;
    height: 100%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor;
}
.wrapper {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}
.share {
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    color: #353c4a;
    border: 0.125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    background: white;
}
.share:last-child {
    margin-right: 0;
}
.share:focus {
    outline-color: inherit;
}
.twitter:hover, .twitter:focus {
    color: #00aced;
    box-shadow: 0 0 24px 0 #00aced;
}
.instagram:hover, .instagram:focus {
    color: #d300c5;
    box-shadow: 0 0 24px 0 #d300c5;
}
.github:hover, .github:focus {
    color: #4183c4;
    box-shadow: 0 0 24px 0 #4183c4;
}
.pinterest:hover, .pinterest:focus {
    color: #bd081c;
    box-shadow: 0 0 24px 0 #bd081c;
}
.youtube:hover, .youtube:focus {
    color: #cd201f;
    box-shadow: 0 0 24px 0 #cd201f;
}
.facebook:hover, .facebook:focus {
    color: #3b5998;
    box-shadow: 0 0 24px 0 #3b5998;
}
.google:hover, .google:focus {
    color: #dd4b39;
    box-shadow: 0 0 24px 0 #dd4b39;
}

.tippy-box[data-theme~='custom1'] {
    font-weight: bold;
    color: #13070c;
    background: #eff9f0;
    border: solid #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #DDC8C4;
}
.tippy-box[data-theme~='custom2'] {
    font-weight: bold;
    background: #BFDBF7;
    color: #0E131F;
    border: 3px solid #38405F;
    text-shadow: 1px 1px 5px #8b939c;
}
.tippy-box[data-theme~='custom2'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #38405F;
}
.tippy-box[data-theme~='custom2'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #38405F;
}
.tippy-box[data-theme~='custom2'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #38405F;
}
.tippy-box[data-theme~='custom2'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #38405F;
}
.tippy-box[data-theme~='custom3'] {
    font-weight: bold;
    background: #B3C2F2;
    color: #320a28;
    border: 2px solid #320A28;
    font-variant: small-caps;
}
.tippy-box[data-theme~='custom3'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #320A28;
}
.tippy-box[data-theme~='custom3'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #320A28;
}
.tippy-box[data-theme~='custom3'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #320A28;
}
.tippy-box[data-theme~='custom3'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #320A28;
}
