/* SECTIONS! */
/*
BASE
    - nav, banner, header, footer
HOME
    - mailbox, choices
READ
    - grid, postcard
WRITE
    - form, success page
ABOUT OX
    - groupphoto, box/oddboxinner, .wrapper.share and svgs
ABOUT THIS
    - contact
TIPPYS
COMING SOON
    - csModal
SITEMAP
    - ul, li
FAQ
    - dt, dd
RESPONSIVENESS
*/

/*FONTS:
fallback = font: 14px "Trebuchet MS", Helvetica, sans-serif;
    //default
    font-family: 'Hanken Grotesk', sans-serif; /

x    font-family: 'Rubik', sans-serif;
x    font-family: 'Kalam', cursive;
    font-family: 'Single Day', cursive;
    font-family: 'Stylish', sans-serif;
x    font-family: 'Cabin', sans-serif;
x    font-family: 'Comfortaa', cursive;

    //title h1 options
    font-family: 'Fuzzy Bubbles', cursive;
x    font-family: 'Patrick Hand', cursive;
x    font-family: 'Patrick Hand SC', cursive;

*/
 @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&family=Mali:wght@400;500;600;700&family=Single+Day&family=Stylish&family=Fuzzy+Bubbles:wght@400;700&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap');

html {
    margin: 0;
    width: 100%;
    font-size: 100%;
    font-weight: 500;
    font-family: 'Hanken Grotesk', "Trebuchet MS", sans-serif;
}
* {
    box-sizing: border-box;
}
small {
    font-size: x-small;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--pink4);
    background-image: url("/assets/background proj2 darker.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    font-size: 0.9em;
    /*backdrop-filter: brightness(0.9) saturate(1.1);*/
}
h2 {
    padding: 10px 0;
    width: auto;
    margin: 18px auto;
    font-style: oblique;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-decoration-color: gold;
    text-underline-position: under;
}
a {
    /*text-decoration: none;*/
    color: black;
}
a:hover {
    font-style: oblique;
    color: var(--pink3);
}
i {
    font-size: smaller;
    vertical-align: -0.1em;
}
html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-track {
    background: #00000080;
}
html::-webkit-scrollbar-thumb {
    background: #99AA00;
}
html::-webkit-scrollbar-thumb:hover {
    background: #7C8500;
}
:root {
    --pink1: #ff60b0;
    --pink2: #ff2990;
    --pink3: #ff69b9;
    --pink4: #de376a;
    --red1: #bd0e23;
    --red2: #cd0b24;
    --red3: #e80724;
    --blue1: #02394a;
    --blue2: #043565;
    --blue3: #5158bb;
    --brown1: #453823;
    --blue4: #39a2ae;
    --blue5: #55dbcb;
    --violet1: #2e294e;
    --violet2: #541388;
    --eggshell: #f1e9da;
    --purple1: #3f1651;
    --purple2: #653780;
    --purple3: #9c3587;
    --purple4: #1a1423;
    --purple5: #372549;
    --green1: #14342b;
    --green2: #60935d;
    --yellow1: #e2f1af;
    --yellow2: #e3d888;
    --brown2: #84714f;
    --grey1: #46494c;
    --grey2: #DCDCDD;
}


/*BASE*/
/*nav, banner, header, footer*/
header {
    text-align: center;
    width: 100%;
    margin: 0 0 5vh;
    background-color: #bf2e54;
    border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image: linear-gradient(to top, #be2f54, #ab3051, #9d2949) 100 / 0 0 5px;
}
#bannerH {
    position: absolute;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    left: 0;
    display: inline-flex;
    max-height: 50px;
    max-width: 43px;
    flex-direction: column;
}
#bannerA {
    --leftorigin: 65px;
    --toporigin: 10px;
}
#bannerA {
    position: absolute;
    text-align: left;
    margin-left: var(--leftorigin);
    margin-top: var(--toporigin);
    left: 0;
    display: inline-flex;
    max-height: 34px;
    max-width: 28px;
    flex-direction: column;
}
nav {
    width: max-content;
    margin: auto;
    padding: 15px 0 15px;
    overflow: hidden;
}
nav a {
    text-decoration: none;
    float: left;
    padding: 8px 12px;
    background-color: #F3E5F5;
    color: #373737;
    font-size: 1.3em;
    font-weight: bold;
}
nav a:hover {
    background-color: #373737;
    color: white;
}
.dropdown {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#dropdowncontent {
    display: none;
    float: right;
    clear: both !important;
    max-width: 250px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
#dropdowncontent a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.drop {
    display:block!important;
}
#aboutbtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.corners {
    border-bottom-right-radius: 0!important;
}
/*ABOUT MODAL*/
#logoHeader {
    max-width: 100%;
}
#welcome {
    top: 20px;
    position: relative;
    font-variant: small-caps;
    font-family: 'Cabin', sans-serif;
    font-weight: 900;
    font-size: 1.3em;
}
.modalabout { /* == #abModal */
    background-color: rgba(0,0,0,0.2) !important;
    padding-bottom: 100px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
.hidden {
    display: none!important;
}
#modContainer.opening{ /* == #modContainer */
    animation: scale-in-tl 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#modContainer.closing{ /* == #modContainer */
    animation: scale-out-tl 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
#modContainer { /* == .modal-content */
    max-width: 715px;
    background: azure;
    border-radius: 15px;
    padding: 10px 75px 40px;
    border-color: #55dbcb;
    border-width: 8px;
    border-style: solid;
    box-shadow: 0 0 4px 2px inset powderblue, 5px 5px cadetblue;
    font-weight: 600;
    margin: auto;
    display: block;
}
#modContainer ol {padding-left: 20px;}
#modContainer ul {list-style-type: disclosure-closed;}
#modContainer li {text-align: initial;}
#modContainer p {}
#modContainer em {}
#modContainer hr {
    border-width: 5px;
    border-color: gold;
    border-style: groove;
    margin-left: -2em;
    margin-right: -2em;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-11 21:31:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-tl
 * ----------------------------------------
 */
@keyframes scale-in-tl {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
}
/**
 * ----------------------------------------
 * animation scale-out-tl
 * ----------------------------------------
 */
@keyframes scale-out-tl {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
}

/*@keyframes zoom {*/
/*    from {transform:scale(0)}*/
/*    to {transform:scale(1)}*/
/*}*/
.close,.closer {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus,.closer:hover,.closer:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){ /* 100% Image Width on Smaller Screens */
    #modContainer {
        width: 100%;
    }
}
footer {
    /*bottom: 1%;*/
    /*top: 100%;*/
    /*left: 10%;*/
    /*right: 10%;*/
    text-align: center;
    font-size: inherit;
    color: var(--eggshell);
    padding-top: 30px;
    padding-bottom: 10px;
    /*position: absolute;*/
}
footer a {
    font-style: normal;
    color: var(--eggshell);
}
footer a:hover {
    font-style: oblique;
    color: var(--pink3);
}
footer i {
    vertical-align: middle;
}
footer i.ph-key-bold:hover {
    color: gold;
    font-size: larger;
}
footer u {
    text-decoration: none;
    font-size: smaller;
    font-style: italic;
}
#disclaimer {
    width: 80%;
    margin: 0 auto;
}
.show:hover {
    color: var(--pink3);
}
#line1 {
    margin: 0 auto;
}
small.disclaimer {
    /*font-size: 0.2em!important;*/
}
.hide {
    display: none;
    overflow: hidden;
}
.show {}
.show:hover + .hide {
    display: block;
}
div[data-netlify-identity-button] {
    font-size: xx-small;
    position: relative;
    padding-bottom: 5px;
    padding-top: 2px;
}
.identity-overlay {
    width: max-content;
    padding: 2px 12px;
    display: contents;
}



/*HOME*/
/*mailbox, choices*/
#mailbox {
    position: relative;
    width: min-content;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#static-mailbox {
    width: 350px;
    filter: hue-rotate(3deg) brightness(1) contrast(1.1) drop-shadow(4px 3px 8px #212e03);
}
#opening-mailbox {
    width: 500px;
    display: none;
}
#choices {
    position: relative;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    display: block;
}
#choices a {
    text-decoration: inherit;
    color: inherit;
}
.centerbtns {
    margin: 0;
    top: 50%;
    left: 50%;
    width: max-content;
}
.choicesbtn {
    background-color: var(--red2);
    padding: 9px 5px 5px;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 130px;
    font-size: large;
    font-weight: bold;
    color: var(--eggshell);
    border: 2px outset var(--red3);
}
.choicesbtn:hover {
    background-color: white;
    color: var(--grey1);
    border: 2px inset var(--red3);
}
#readbtn {
    margin-right: 100px;
}
#writebtn {}


/*READ*/
/*postcard*/
.grid-container {
    display: grid;
    max-width: 85%;
    column-gap: 30px;
    row-gap: 42px;
    justify-content: space-between;
    justify-items: stretch;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: stretch;
    align-content: stretch;
    border: 2px solid brown;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    padding: 25px 35px;
    margin-right: auto;
    margin-left: auto;
}
.grid-container > * {
    min-width: 0;
}
.grid-item img {
    max-width: 335px;
    width: 200px;
    margin: 0;
    display: initial;
}
/*POSTCARD TEMPLATE*/
.containerbox, .containerboxM {
    position: relative;
    min-width: 0;
    cursor: pointer;
    transition: 0.3s;
}
.containerboxM {
    width: fit-content!important;
}
.containerbox:hover {opacity: 0.7;}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
/*.modal-content {*/
/*    margin: auto;*/
/*    display: block;*/
/*    width: 80%;*/
/*    max-width: 700px;*/
/*}*/
/*.modal-content, #caption {*/
/*    animation-name: zoom;*/
/*    animation-duration: 0.6s;*/
/*}*/
/*@keyframes zoom {*/
/*    from {transform:scale(0)}*/
/*    to {transform:scale(1)}*/
/*}*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#postcard, #postcardM {
    object-fit: contain;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border: 1.5px solid #000000;
    box-shadow: 1px 1px 5px 1px #380614;
    border-radius: 2px;
}
#postcardM {
    max-width: fit-content;
}
.template {
    position: absolute;
    padding:0;
}
#membersbox {

}
#contentbox, #contentboxM {
    top: 46%;
    left: 51%;
    transform: translate(-50%, -49%);
    height: 40%;
    width: 60%;
    font-size: x-small;
    line-height: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding-right: 15px;
    padding-left: 5px;
    box-sizing: initial;
    border-radius: 8px;
    background: rgb(1 0 1 / 10%);
    scrollbar-color: var(--purple2) var(--pink4);
    scrollbar-width: thin;
}
#contentboxM{
    font-size: medium;
    line-height: 28px;
}
#contentbox::-webkit-scrollbar, textarea::-webkit-scrollbar, #contentboxM::-webkit-scrollbar {
    width: 8px;
}
#contentbox::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track, #contentboxM::-webkit-scrollbar-track {
    background: var(--pink4);
    box-shadow: inset 0 0 5px var(--pink3);
    border-radius: 10px;
}
#contentbox::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb, #contentboxM::-webkit-scrollbar-thumb {
    background: var(--purple2);
    border-radius: 10px;
}
#contentbox::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover, #contentboxM::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-button:single-button {
    background-repeat: no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 14px;
    width: 16px;
    background-position: center 4px;
    background-image: url("/assets/scrollbarUP.svg");
}
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 14px;
    width: 16px;
    background-position: center 5px;
    background-image: url("/assets/scrollbarDOWN.svg");
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
    display: none;
}
#namebox, #nameboxM {
    bottom: 17%;
    right: 15%;
    width: 27%;
    height: 8%;
    overflow: clip;
    line-height: 15px;
    font-size: x-small;
    text-align: center;
}
#nameboxM {
    font-size: initial;
    line-height: initial;
}
#lettercount, #lettercountM {
    bottom: 9px;
    left: 9px;
    background: #e592ab91;
    padding: 0 5px;
    border-radius: 7px;
}
#lettercountM {
    bottom: 14px;
    left: 14px;
}
iframe {
    height: 180px;
    width: 272px;
}
div#griddy {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.filter {
    display: inline;
}

button.filter {
    --i: var(--light, 0);
    --not-i: calc(1 - var(--i));
    --j: var(--press, 0);
    --not-j: calc(1 - var(--j));
    z-index: var(--i);
    border: none;
    height: 2em;
    border-radius: 15%;
    transform: scale(calc(1 - var(--j)*.02));
    box-shadow: calc(var(--not-j)*-0.25em) calc(var(--not-j)*-0.25em) 0.25em rgba(252, 252, 252, var(--not-j)), calc(var(--not-j)*0.25em) calc(var(--not-j)*0.25em) 0.25em rgba(210, 218, 230, var(--not-j)), inset calc(var(--j)*0.25em) calc(var(--j)*0.25em) 0.25em rgba(210, 218, 230, var(--j)), inset calc(var(--j)*-0.25em) calc(var(--j)*-0.25em) 0.25em rgba(252, 252, 252, var(--j));
    background: #e8e8e8;
    font-size: 2.5em;
    transition: box-shadow 0.3s, transform 0.3s cubic-bezier(0.2, 4, 1, 3);
    cursor: pointer;
}
button.filter::after {
    filter: Contrast(0) Sepia(var(--i)) Hue-Rotate(calc(294deg)) Saturate(5) Opacity(calc(var(--i) + .21*var(--not-i))) Drop-Shadow(1px 1px hsla(0, 0%, 100%, var(--not-i)));
    transition: filter 0.3s;
    content: attr(data-ico);
}
button.filter:focus {
    outline: none;
}
button.filter:hover, button.filter:focus {
    --light: 1;
}
button.filter:active {
    --press: 1;
}

.filter-container {
    grid-column-start: 1;
    grid-column-end: 4;
    display: inline;
}

/*WRITE*/
/*form, success page/action*/
#toggler {
    /* btn styling */
    text-decoration: none;
    text-transform: uppercase;
    display: list-item;
    list-style: none;
    margin: 5px auto 5px;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
    color: #212121;
    font-family: 'Mali', cursive;
    font-weight: 700;
    font-size: small;
    transition: all 0.3s ease-in-out;
    background: #d1c4e9;
    border: solid 1px #212121;
    box-shadow: inset 0 0 0 2px white;
}
#special-announcement {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    padding: 12px 0;
    width: 40%;
}
#special-announcement img {
    max-height: 130px;
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}
#special-announcement p {
    margin: auto;
    text-align: center;
}
#letter-form-div, #success-block, #special-announcement {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC1E3;
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    padding: 10px;
    box-shadow: 0 3px 9px darkslategray, inset 0 0 9px var(--eggshell);
}
#letter-form-div::after, #success-block::after, #special-announcement::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(100deg, #D279EE, #F8C390);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
#success-block {
    text-align: center;
    padding: 50px 70px 40px;
}
#success-links {
    margin-top: 70px;
}
#success-links a {
    text-decoration: none;
    text-transform: uppercase;
    display: list-item;
    list-style: none;
    margin: 5px auto 5px;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
    color: #212121;
    font-family: 'Mali', cursive;
    font-weight: 700;
    font-size: small;
    transition: all 0.3s ease-in-out;
    background: #d1c4e9;
    border: solid 1px #212121;
    box-shadow: inset 0 0 0 2px white;
}
.button--primary {
    --button: hsl(346, 100%, 60%);
    --button-hover: hsl(346, 100%, 70%);
    --button-active:  hsl(346, 100%, 80%);
    --button-visited: hsl(346, 100%, 70%);
    --button-colour: #1e1e1e;
    --button-border: #1e1e1e;
}
#success-links a:hover {
    text-decoration: underline;
    background: var(--button-hover);
    box-shadow: inset 0 0 0 4px #ffffff;
}
#success-links a:active {
    background: var(--button-active);
}
form {
    padding: 5px 20px 10px;
}
#sendbtn {
    font-family: 'Hanken Grotesk', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 4px solid deeppink;
    border-radius: 7px;
    padding: 7px 9px;
    background-color: #ff99cf;
    font-weight: 700;
    font-size: larger;
    box-shadow: inset 0 0 5px 2px deeppink, 1px 1px 8px 0 #B78AA2;
}
#sendbtn:hover {
    background-color: darkseagreen;
    border-color: seagreen;
    box-shadow: inset 0 0 5px 2px seagreen, 1px 1px 8px 0 #B78AA2;
    /*color: darkslategrey;*/
}
#nickname {
    border-radius: 5px;
    padding: 3px 7px;
}
#lettercontent {
    height: 150px;
    width: 100%;
    resize: none;
    border-radius: 5px;
}
textarea:focus, #nickname:focus {
    outline: medium ridge darkslateblue;
}
#letter-sheet {
    height:auto;
    width: 100%;
}
form#approver {
    visibility: hidden;
}
#success-block {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}



/*ABOUT THIS*/
/*contact*/
#aboutme {
    width: 650px;
    margin: auto;
    padding: 20px;
    border: 5px double #cd0b24;
    outline: 5px outset #cd0b24;
    border-radius: 15px 5px;
    color: rgba(0,0,0,1);
    text-align: center;
    text-overflow: fade;
    background: rgba(255,163,212,1);
    font-size: 1.05em;
}
.abouth1.project {
    background-size: initial!important;
}
#contact a {
    font-variant: small-caps;
    font-size: large;
}
#contact a:hover {
    font-style: oblique;
    color: var(--pink3);
}
#contact svg {
    vertical-align: middle;
    margin-left: 4px;
}
#contact i {
    font-size: initial;
    vertical-align: middle;
    margin-left: 4px;
}

/*ABOUT OX*/
/*connect, connect2*/
.abouth1 {
    margin: 0;
    color: var(--grey2);
    text-shadow: 2px 2px 4px #2d0a28;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 4em;
    background-image: url("/assets/title bg.png");
    background-position: inherit;
    background-size: contain;
    background-repeat: no-repeat;
}
.box{
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(1deg);
    box-shadow:2px 2px 8px 3px #722d5a;
}
.box1{
    margin:25px auto;
    padding: 15px 7px;
    width:500px;
    height:250px;
    background:#fff;
    border: solid black;
}
.box3{
    margin:25px auto;
    padding: 11px 1px;
    width:400px;
    height:110px;
    background:#fff;
    border: solid black;
}
.oddboxinner{
    margin:20px 15px 20px 20px;
    transform: rotate(-1deg);
    overflow-wrap: break-word;
}
.oddboxinner.timeline {
    margin: 20px 20px 15px 20px;
}
.evenboxinner{
    transform: rotate(2deg);
    margin:15px;
    padding:0 5px;
    overflow-wrap: break-word;
    overflow: auto;
}
.timeline {
    /*background-color: #c52052;*/
    text-align: center;
    font-size: small;
    /*height: border-box;*/
    overflow: auto;
}
.evenboxinnerF {
    width: 75%;
    margin: 0 0 15px -10px;
    transform: rotate(2deg);
    padding:0 5px;
    overflow-wrap: break-word;
}
.timelineArrow {
    text-align: center;
}
.timelineArrow i {
    font-size: x-large;
    /*color: #320159;*/
    color: #112d25;
    border-radius: 100%;
    border: 4px solid #6ee767;
    background-color: #6ee767;
}
.date {
    background-color: rgba(248, 245, 74, 0.72);
    display: block;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: larger;
    padding: 2px;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.date > span {
    font-size: xx-small;
    vertical-align: super;
    text-transform: lowercase;
}
.box2{
    margin:8px auto;
    width: 200px;
    height: fit-content;
    border: solid #320159;
    background-color: #f4e7f6;
    display: flex;
    overflow: auto;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}
.box2F {
    overflow: auto;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
    margin:8px auto;
    padding: 15px 0;
    width: 493px;
    height: fit-content;
    border: solid #320159;
    border-width: 3px 3px 5px 5px;
    background-color: #f4e7f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.placeholder {
    max-height: 75%;
    max-width: 65%;
    margin: 15px auto;
    transform: rotate(2deg);
}
.box2F.album {
    width: 400px;
}
.placeholder.album {
    margin: 15px 0;
}
.placeholder.album + .evenboxinnerF {
    width: 80%;
}
#groupphoto {
    height: 300px;
    margin: 20px auto;
    display: block;
    box-shadow: 8px 18px 12px 0 rgba(0, 0, 0, 0.1), -8px 26px 14px 0 rgba(0,0,0,0.1);
}
hr {
    border-width: 3px;
    border-color: #cd0b24;
    border-style: outset;
    margin-left: 20%;
    margin-right: 20%;
}
.clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.svg--source {
    display: none;
}
.svg--icon {
    width: 100%;
    max-width: 5rem;
    height: 100%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor;
    stroke: currentColor;
}
.wrapper {
    width: 700px;
    margin: auto auto 0 auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}
.share {
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    color: #353c4a;
    border: 0.125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    background: white;
}
#memberstoggle.share.instagram {
    margin-right: 0;
}
.share:focus {
    outline-color: inherit;
}
.connect2 {
    display: none;
    margin-top: -10px;
}
a#memberstoggle:hover + .connect2, .connect2:hover  {
    display: block;
}
.twitter:hover, .twitter:focus {
    color: #00aced;
    box-shadow: 0 0 24px 0 #00aced;
}
.instagram:hover, .instagram:focus {
    color: #d300c5;
    box-shadow: 0 0 24px 0 #d300c5;
}
#memberstoggle:hover, #memberstoggle:focus {
    fill: #d300c5;
    box-shadow: 0 0 24px 0 #d300c5;
}
.memberAccounts {
    display: none;
}
.memberAccounts:hover {
    display: inline;
}
.github:hover, .github:focus {
    color: #4183c4;
    box-shadow: 0 0 24px 0 #4183c4;
}
.pinterest:hover, .pinterest:focus {
    color: #bd081c;
    box-shadow: 0 0 24px 0 #bd081c;
}
.youtube:hover, .youtube:focus {
    color: #cd201f;
    box-shadow: 0 0 24px 0 #cd201f;
}
.facebook:hover, .facebook:focus {
    color: #3b5998;
    box-shadow: 0 0 24px 0 #3b5998;
}
.google:hover, .google:focus {
    color: #dd4b39;
    box-shadow: 0 0 24px 0 #dd4b39;
}



/*TIPPYS*/
.tippy-box[data-theme~='custom1'] {
    font-weight: bold;
    color: #13070c;
    background: #eff9f0;
    border: solid #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #DDC8C4;
}
.tippy-box[data-theme~='custom1'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #DDC8C4;
}
.tippy-box[data-theme~='custom2'] {
    font-weight: bold;
    background: #BFDBF7;
    color: #0E131F;
    border: 3px solid #38405F;
    text-shadow: 1px 1px 5px #8b939c;
}
.tippy-box[data-theme~='custom2'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #38405F;
}
.tippy-box[data-theme~='custom2'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #38405F;
}
.tippy-box[data-theme~='custom2'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #38405F;
}
.tippy-box[data-theme~='custom2'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #38405F;
}
.tippy-box[data-theme~='custom3'] {
    font-weight: bold;
    background: #B3C2F2;
    color: #320a28;
    border: 2px solid #320A28;
    font-variant: small-caps;
}
.tippy-box[data-theme~='custom3'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #320A28;
}
.tippy-box[data-theme~='custom3'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #320A28;
}
.tippy-box[data-theme~='custom3'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #320A28;
}
.tippy-box[data-theme~='custom3'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #320A28;
}


/*COMING SOON*/
#csModal {
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Stylish', sans-serif;
}
#csModal img {
    height:250px;
    display:block;
    margin:auto;
}
#csModal h2 {
    font-family: 'Single Day', cursive;
    font-size: 35px;
    display: block;
    margin: auto;
    width: fit-content;
    text-align: center;
}
#csModal h3 {
    text-align: center;
}
#csModal a {
    font-style: normal;
    display: block;
    margin: auto;
    width: fit-content;
}
#csModal a:hover {
    font-style: oblique;
    color: var(--pink3);
}


/*SITEMAP*/
/*list*/
ul#sitemap-ul {
    list-style-position: inside;
    list-style-image: url("/assets/stamp-empty-svgrepo-com.svg");
    width: fit-content;
    margin-left: 30%;
    margin-right: 50%;
    font-size: large;
}
div#sitemap-links {
    margin-bottom: 170px;
}
div#sitemap-links a {
    vertical-align: 17%;
    color: var(--eggshell);
    text-decoration: none;
}
div#sitemap-links a:hover {
    font-style: oblique;
    color: var(--pink3);
}
li.sitemap-li {
    margin: 20px;
}


/*FAQ*/
/*dt, dd*/
div#faq {
    width: 650px;
    margin: auto;
    padding: 20px;
    border: 5px double #cd0b24;
    outline: 5px outset #cd0b24;
    border-radius: 15px 5px;
    color: rgba(0,0,0,1);
    background: rgba(255,163,212,1);
    font-size: 1.05em;
}
dt {
    font-weight: 800;
    font-size: 1.2em;
    padding: 3px;
}
dd {
    margin-left: 28px;
    margin-bottom: 10px;
    font-size: 1.15em;
}
.answers {
    display: none;
    overflow: hidden;
}
.questions:hover {
    text-decoration: underline;
}
.questions::before {
    content: '♡ ';
    color: red;
    vertical-align: -1px;
}


/*RESPONSIVENESS*/
@media screen and (min-width: 550px) and (max-width: 800px) {
    body {
        background-size: 50% 100%;
        background-repeat: repeat;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
    nav a {
        padding: initial;
    }
    .nav-text {
        display: initial;
    }
    nav {
        margin-right: 3vw;
    }
    #banner {
        margin-left: 24px;
    }
    #bannerA {
        max-width: 25px;
        --leftorigin: 60px;
    }
    #bannerH {
        max-width: 35px;
        margin-left: 18px;
    }
    nav i {
        vertical-align: -3px;
    }
    #static-mailbox {
        width: 300px!important;
    }
    #mailbox {
        margin-top: 11%;
    }
}
@media screen and (min-width: 280px) and (max-width: 600px) {
    nav {
        max-width: 88%;
        font-size: 0.65em;
        margin-left: auto;
        margin-right: 53px;
    }
    nav a {
        padding: 8px 15px;
        font-size: 1.15em;
    }
    nav i {
        font-size: 1.6em;
    }
    .nav-text {
        display: none;
    }
    #dropdowncontent a {
        font-size: 1.4em;
        padding: 8px 10px;
    }
}
@media screen and (min-width: 280px) and (max-width: 800px) {
    body {
        background-image: url("/assets/mobile bg rough darker.png");
    }
    #static-mailbox {
        width: 215px!important;
    }
    #readbtn {
        margin-right: 40px!important;
    }
    .choicesbtn {
        font-size: 0.9em!important;
        width: 95px!important;
    }
    .centerbtns i {
        font-size: larger;
    }
    #banner {
        max-width: 25px;
        max-height: 25px;
        margin-top: 16px;
        margin-left: 38px!important;
    }
    footer {
        font-size: smaller;
        padding-top: 25%;
    }
    footer p#line1 {
        font-size: 0.8em!important;
        margin: 5px;
    }
    footer p#disclaimer {
        font-size: 0.2em!important;
        margin: 5px;
        width: 97%;
    }
    #letter-form-div {
        width:90%;
        font-size: 0.8em;
    }
    #nickname {
        font-size: 0.8em;
    }
    form {
        margin: 0;
        padding: 0 8px 5px!important;
    }
    #sendbtn {
        padding: 3px 5px!important;
        font-size: 1.1em!important;
    }
    div[data-netlify-identity-button] {
        margin: 5px;
    }
    #csModal img {
        height: 200px!important;
    }
    #csModal {
        padding-top: 55px;
    }
    .grid-container {
        grid-template-columns: auto!important;
        row-gap: 15px!important;
        padding: 15px 30px!important;
        justify-content: center!important;
    }
    .modal-content {
        max-width: 90%!important;
    }
    #modContainer {
        padding: 10px 0 40px!important;
    }
    #contentbox {
        line-height: 14px!important;
    }
    #contentboxM, #nameboxM {
        line-height: 17px!important;
        font-size: 0.9em!important;
    }
    .modal {
        padding-top: 200px!important;
    }
    .wrapper { /*figure out how to deal with tippy insta dropdown on mobile...*/
        width: 100%!important;
    }
    .share {
        height: 2.5rem!important;
        width: 2.5rem!important;
    }
    .connect2 > .share {
        margin: 0.5rem 0.3rem 0.5rem 0!important;
        height: 2rem!important;
        width: 2rem!important;
    }
    #aboutox {
        max-width: 100%;
    }
    .box {
        max-width: 92%;
        height: fit-content!important;
        font-size: 0.95em;
    }
    .oddboxinner {
        height: 100%;
    }
    .box2F, .box2 {
        max-width: 90%;
    }
    .evenboxinnerF, .evenboxinner {

    }
    .abouth1 { /*fix the background image!!!!!!!!!!!*/
        font-size: 2.6em!important;
        margin-bottom: 25px!important;
        background-position: center;
        background-size: cover;
    }
    #groupphoto {
        height: 260px!important;
    }
    #aboutme {
        max-width: fit-content;
        margin: 0 20px!important;
        font-size: 0.9em!important;
        padding: 5px 15px!important;
    }
    #sitemap-ul {
        width: max-content!important;
        margin-left: 10%!important;
        font-size: 1.1em!important;
    }
    div#sitemap-links a {
        vertical-align: 19%!important;
    }
    #faq {
        max-width: fit-content;
        margin: 0 20px!important;
        font-size: 0.9em!important;
        padding: 5px 15px!important;
    }
    .modalabout {
        padding-top: 70px!important;
    }
    #section1 {
        padding: 10px 30px !important;
    }
    #section2 {
        padding: 10px 17px !important;
    }
    #section3 {
        padding: 10px 17px !important;
    }
    #modContainer hr {
        margin-left: -0.5em!important;
        margin-right: -0.5em!important;
    }
}
/*my phone = 360w x 649h*/
