

{{#forEach letters}}
    <div class="containerbox grid-item">
        <img src="/assets/postcard%20handdrawn%201.svg" alt="" id="postcard">
        <div id="contentbox" class="template">{{message}}</div>
        <div id="namebox" class="template">
            {{#if signature}}
                {{nickname}}
            {{else}}
                FOR X
            {{/if}}
        </div>
    </div>
{{/forEach}}

