
{%- for x, y, z, q in sheetstest.values -%}
    <div class="containerbox grid-item">
        <img src="/assets/postcard%20handdrawn%201.svg" alt="" id="postcard">
        <div id="contentbox" class="template">{{ q }}</div>
        <div id="namebox" class="template">
            {% if y %}
                {{ z }}
            {% else %}
                FOR X
            {% endif %}
        </div>
    </div>
    <button id="approveL" onclick="showEvents()">Approve</button>
{% else %}

    <li>This would display if the 'item' collection were empty</li>

{%- endfor -%}

{#
OKAY
    SO from here I can add the approve/deny buttons
    Approve can trigger a POST method and send that entry to an Approved Letters google sheet!
    (Also delete POSTed entry from the other sheet so it will no longer show up on the admin page)
    Then do the same postcardtemplate loop as above but taking data ONLY from the Approved sheet
#}

