
{%- for letter in exportApproved["default"] | reverse -%}
    <div class="containerbox grid-item" onclick="modalZoom(this)">
        <img src="{{ letter.src }}" alt="" id="postcard">
        <div id="contentbox" class="template">{{ letter.message | safe }}</div>

        {% if letter.signature %}
            <div id="namebox" class="template">{{ letter.nickname }}</div>
        {% else %}
            <div id="namebox" class="template">FOR X</div>
        {% endif %}

        <div id="memberbox">{{ letter.member }}</div>
        <div id="lettercount" class="template"> {{ loop.revindex - 1 }} </div>
    </div>
{% else %}

    <li>No letters to read at the moment.</li>

{%- endfor -%}

{% if  %}


