---
templateEngineOverride: njk
---

{%- for letter in (letters) -%}
    <div class="containerbox grid-item">
        <img src="/assets/postcard%20handdrawn%201.svg" alt="" id="postcard">
        <div id="contentbox" class="template">{{ letter.message }}</div>
        <div id="namebox" class="template">
            {% if letter.signature %}
                {{ letter.nickname }}
            {% else %}
                FOR X
            {% endif %}
        </div>
    </div>
{%- endfor -%}

