
{%- for x, y, z, q in approvedLoveLetters.values | reverse if not (q === "4")-%}
    <div class="containerbox grid-item" onclick="modalZoom(this)">
        <img src="/assets/postcard%20handdrawn%201.svg" alt="" id="postcard">
        <div id="contentbox" class="template">{{ q }}</div>
        <div id="namebox" class="template">
            {% if y %}
                {{ z }}
            {% else %}
                FOR X
            {% endif %}
        </div>
        <div id="lettercount" class="template"> {{ loop.revindex }} </div>
    </div>
{% else %}

    <li>No letters to read at the moment.</li>

{%- endfor -%}

