
{%- for postcard in letter-form_submissions -%}
    <div class="containerbox grid-item">
        <img src="/assets/postcard%20handdrawn%201.svg" alt="" id="postcard">
        <div id="contentbox" class="template">{{ postcard.message }}</div>
        <div id="namebox" class="template">
            {% if postcard.signature %}
                {{ postcard.nickname }}
            {% else %}
                FOR X
            {% endif %}
        </div>
    </div>
{% else %}

    <li>This would display if the 'item' collection were empty</li>

{%- endfor -%}

