
{%- for letter in exportSubmissions["/pages/writeletters/"] -%}
    <div class="containerbox grid-item {{ loop.index0 }}">
        <img src="{{ letter.src }}" alt="" id="postcard">
        <div id="contentbox" class="template">{{ letter.message | safe }}</div>

        {% if letter.signature %}
            <div id="namebox" class="template">{{ letter.nickname }}</div>
        {% else %}
            <div id="namebox" class="template">FOR X</div>
        {% endif %}

    </div>
    <div id="membersbox">{{ letter.member }}</div>

    <button class="{{ loop.index0 }}" form="approver" id="approveL" type="submit">Approve</button>
    <button class="{{ loop.index0 }}" id="deleteL">Delete (not yet activated)</button>

{% else %}

    <li>No new letter submissions.</li>

{%- endfor -%}


<form id="approver" name="approved-letters" netlify netlify-honeypot="full-name">
    <input type="text" name="path">
    <input type="text" name="signature" id="signature">
    <input type="text" name="nickname" id="nickname">
    <textarea name="lettercontent" id="lettercontent"></textarea>
    <select id="members" name="members"></select>
</form>


<script>
    const handleSubmit = (event) => {
        event.preventDefault();
        let ele = event.submitter;
        const indexNumber = ele.className;

        const myForm = event.target;
        const formData = new FormData(myForm);

        let message = document.querySelector(`#griddy > div.containerbox.grid-item.${CSS.escape(indexNumber)} > #contentbox`).innerHTML;
        let name = document.querySelector(`#griddy > div.containerbox.grid-item.${CSS.escape(indexNumber)} > #namebox`).innerHTML;
        let member = document.querySelector(`#griddy > div.containerbox.grid-item.${CSS.escape(indexNumber)} + #membersbox`).innerHTML;


        //manually enter form data
        formData.set('path', 'default');
        formData.set('signature','bool');
        formData.set('nickname', name);
        formData.set('lettercontent', message);
        formData.set('members', member);

        //send data above to the READ page
        fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData).toString(),
        })
            .then(() => alert("Thank you for your submission"))
            .catch((error) => alert(error));

    };

    document
        .querySelector("form")
        .addEventListener("submit", handleSubmit);

</script>




