
{%- for letter in exportApproved["default"] -%}
    <div class="containerbox grid-item" onclick="modalZoom(this)">
        <img src="{{ letter.src }}" alt="" id="postcard">
        <div id="contentbox" class="template">{{ letter.message }}</div>

        {% if letter.signature %}
            <div id="namebox" class="template">{{ letter.nickname }}</div>
        {% else %}
            <div id="namebox" class="template">FOR X</div>
        {% endif %}

        <div id="lettercount" class="template"> {{ loop.revindex }} </div>
        <div id="membersbox" class="membersbox" style="display: none">{{ letter.member }}</div>
    </div>
{% else %}

    <li>No letters to read at the moment.</li>

{%- endfor -%}


