{#{{ exportApproved["default"][0].message | dump(2) }}#}

{#{{ exportApproved["default"] | dump(2) }}#}

{%- for letter in exportSubmissions["/pages/writeletters/"] -%}
    {% if loop.first %}
        <div class="waiting">LETTERS WAITING FOR APPROVAL: {{ loop.length }}</div>
    {% endif %}
        <div class="griddywrap">
            <div class="containerbox grid-item {{ loop.revindex }}">
                <img src="{{ letter.src }}" alt="" id="postcard">
                <div id="contentbox" class="template">{{ letter.message }}</div>
                {% if letter.signature %}
                    <div id="namebox" class="template">{{ letter.nickname }}</div>
                {% else %}
                    <div id="namebox" class="template">FOR X</div>
                {% endif %}
            </div>
            <div id="membersbox">{{ letter.member }}</div>
            <br>
            <button class="{{ loop.revindex }}" form="approver" id="approveL" type="submit">Approve</button>
            {#    <button class="{{ loop.index0 }}" id="deleteL">Delete (not yet activated)</button>#}
            <br><br>
        </div>
{% else %}
    <li>No new letter submissions.</li>
    <li>AS OF: {{ page.date.toLocaleString() }}</li>
{%- endfor -%}

<form id="approver" name="approved-letters" data-netlify="true">
    <input type="text" name="path" id="path">
    <input type="text" name="signature" id="signature">
    <input type="text" name="nickname" id="nickname">
{#    make the two below input text instead of textarea and select   #}
    <input type="text" name="lettercontent" id="lettercontent">
    <input type="text" name="members" id="members">
</form>

<script>


</script>




