./.idea/*

.cache

.env

**/node_modules/**

/html pages/

#dist

#../untitled/serverless/**
#!src/functions/serverless/index.js
#../untitled/dynamic/**
#!src/functions/dynamic/index.js

#src/site/_includes/css/*

src/site/_data/*.json

src/functions/

.netlify

src/site/_data/credentials.json
#!/src/site/_data/letter-form_submissions.json
