./.idea/*

.cache

.env

**/node_modules/**

/html pages/

#dist

#../untitled/serverless/**
#!src/functions/serverless/index.js
#../untitled/dynamic/**
#!src/functions/dynamic/index.js

#src/site/_includes/css/*

src/site/_data/*.json
#/src/site/_data/approved-letters_submissions.json
#/src/site/_data/letter-form_submissions.json
src/site/_data/manual-json/*


#src/functions/

.netlify





/dist/
/node_modules/
/src/site/autogenTable.js
