---
templateEngineOverride: hbs
title: About This Project
---

<h1 class="abouth1 project">{{title}}</h1>

<div id="aboutme">
    <p>Around November of last year, I had this desire to do something for OMEGA X. They were (and are) going through such a tough time, so I wanted to do something to show the boys how loved they are. And while brainstorming, I came up with an idea...</p>

    <p>Writing letters to the boys on the fancafe was one of my favourite ways of reaching out to them. However, fancafes are notorious for being hard to navigate for international fans. On top of that, the boys started logging in less and less until the day we found out their passwords had been changed (thanks Spire). So I wanted to create a more accessible and fun way for all FOR X to share their messages of love and support with the boys.</p>

    <p>With my design inspiration being &ldquo;elementary school Valentine's Day" combined with the beauty of handwritten love notes, OX Love Letters was born! (Renamed FOR X Love Letters once I ran a twitter poll on the OX Masterlist twitter...)</p>

    <p>After creating OX Masterlist, I realized I had a lot of fun using my limited coding knowledge in the name of helping OMEGA X. So I took on the incredibly daunting challenge of moving off Tumblr and finding a new platform to create my own website from the bottom up. I already had a vision for what I wanted it to look like and now I just had to make it a reality. However, it turns out my vision was much harder to make a reality than I anticipated it being! But I was determined to make this real, so I spent all my free time coding and learning and creating and re-creating and undoing and redoing and... You get the idea.</p>

    <p>Similar to how I felt when I was making OXM, I was worried that no one in the fandom would actually want something like this. And yeah, maybe this won't take off like I hope it does, but I realized that I'm okay even if I'm the only one writing letters here. I've learned so much throughout this process, and I'm damn proud of what I created! And now I have a cute little place to leave my love letters for the boys! So even if I'm the only one using OXM, or submitting letters on this site, I'm happy I get to do all of this for OMEGA X.</p>

    <p>Now, if anyone is interested in the coding that went into making all of this, the Github repo is <a href="https://github.com/wingsooyoung/OXLoveLetters">here</a>. It has a complete rundown of the before/during/after process with credits to everyone and everything that helped me make this a reality.&nbsp;</p>

    <hr>

    <div id="contact">
        <p>Finally, if anyone wants to contact me, you can reach out on any of the following:
            <br /></p>
        <br />
        <a href="https://www.instagram.com/omegaxmasterlist/">instagram</a><i class="ph-bold ph-instagram-logo"></i><br />
        <a href="https://www.twitter.com/oxmasterlist/">twitter (oxm)</a><i class="ph-bold ph-twitter-logo"></i><br />
        <a href="https://www.twitter.com/mylilbirdcage/">twitter (personal)</a><i class="ph-bold ph-twitter-logo"></i><br />
        <a href="https://www.omegaxmasterlist.tumblr.com/">tumblr (oxm)</a><svg width="14px" height="14px"><image width="14" height="14" xlink:href="/assets/tumblr.svg" /></svg><br />
        <a href="https://www.bailaconox.tumblr.com/">tumblr (personal)</a><svg width="14px" height="14px"><image width="14" height="14" xlink:href="/assets/tumblr.svg" /></svg><br />
        <a href="https://curiouscat.me/oxmasterlist">curiouscat</a><svg width="17px" height="17px"><image width="17" height="17" xlink:href="/assets/curiouscat-logo.svg" /></svg><br />
        &nbsp;</div>

</div>


