---
templateEngineOverride: hbs
title: About OMEGA X
---

<!--add in links for the timeline items without any photos!!!!!-->


<h1 class="abouth1">{{title}}</h1>

<div class="imgcontainer">
    <img src="/assets/ox group w border.png" alt="omega x group photo" id="groupphoto">
</div>

<svg class="svg--source" width="0" height="0" aria-hidden="true">

    <symbol id="svg--twitter" viewbox="0 -7 15 30">
        <path d="M15.36 3.434c-0.542 0.241-1.124 0.402-1.735 0.476 0.624-0.374 1.103-0.966 1.328-1.67-0.583 0.346-1.23 0.598-1.917 0.733-0.551-0.587-1.336-0.954-2.205-0.954-1.668 0-3.020 1.352-3.020 3.019 0 0.237 0.026 0.467 0.078 0.688-2.51-0.126-4.735-1.328-6.224-3.155-0.261 0.446-0.41 0.965-0.41 1.518 0 1.048 0.534 1.972 1.344 2.514-0.495-0.016-0.961-0.151-1.368-0.378 0 0.013 0 0.025 0 0.038 0 1.463 1.042 2.683 2.422 2.962-0.253 0.069-0.52 0.106-0.796 0.106-0.194 0-0.383-0.018-0.568-0.054 0.384 1.2 1.5 2.073 2.821 2.097-1.034 0.81-2.335 1.293-3.75 1.293-0.244 0-0.484-0.014-0.72-0.042 1.336 0.857 2.923 1.357 4.63 1.357 5.554 0 8.592-4.602 8.592-8.593 0-0.13-0.002-0.261-0.009-0.39 0.59-0.426 1.102-0.958 1.507-1.563z"
        />
    </symbol>

    <symbol id="svg--instagram" viewBox="-55 -55 275 275">
        <g>
            <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
		c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
		c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
		c17.455,0,31.656,14.201,31.656,31.655V122.407z"/>
            <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
		C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
		c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"/>
            <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
		c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
		C135.661,29.421,132.821,28.251,129.921,28.251z"/>
        </g>
    </symbol>

    <symbol id="svg--more" fill="none" viewBox="0 0 24 24">
        <g clip-path="url(#clip0_429_11148)">
            <circle cx="12" cy="12" r="9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9 11L12 14L15 11" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
            <clipPath id="clip0_429_11148">
                <rect width="24" height="24" fill="white"/>
            </clipPath>
        </defs>
    </symbol>

    <symbol id="svg--google" viewbox="-13 -13 72 72">
        <path d="M48,22h-5v-5h-4v5h-5v4h5v5h4v-5h5 M16,21v6.24h8.72c-0.67,3.76-3.93,6.5-8.72,6.5c-5.28,0-9.57-4.47-9.57-9.75
s4.29-9.74,9.57-9.74c2.38,0,4.51,0.82,6.19,2.42v0.01l4.51-4.51C23.93,9.59,20.32,8,16,8C7.16,8,0,15.16,0,24s7.16,16,16,16
c9.24,0,15.36-6.5,15.36-15.64c0-1.17-0.11-2.29-0.31-3.36C31.05,21,16,21,16,21z" />
    </symbol>

    <symbol id="svg--facebook" viewbox="0 -7 16 30">
        <path d="M12 3.303h-2.285c-0.27 0-0.572 0.355-0.572 0.831v1.65h2.857v2.352h-2.857v7.064h-2.698v-7.063h-2.446v-2.353h2.446v-1.384c0-1.985 1.378-3.6 3.269-3.6h2.286v2.503z" />
    </symbol>

    <symbol id="svg--github" viewbox="-30 -30 150 150">
        <path d="M61.896,52.548c-3.59,0-6.502,4.026-6.502,8.996c0,4.971,2.912,8.999,6.502,8.999
		c3.588,0,6.498-4.028,6.498-8.999C68.395,56.574,65.484,52.548,61.896,52.548z M84.527,29.132c0.74-1.826,0.777-12.201-3.17-22.132
		c0,0-9.057,0.993-22.76,10.396c-2.872-0.793-7.736-1.19-12.597-1.19s-9.723,0.396-12.598,1.189C19.699,7.993,10.645,7,10.645,7
		c-3.948,9.931-3.913,20.306-3.172,22.132C2.834,34.169,0,40.218,0,48.483c0,35.932,29.809,36.508,37.334,36.508
		c1.703,0,5.088,0.004,8.666,0.009c3.578-0.005,6.965-0.009,8.666-0.009C62.191,84.991,92,84.415,92,48.483
		C92,40.218,89.166,34.169,84.527,29.132z M46.141,80.574H45.86c-18.859,0-33.545-2.252-33.545-20.58
		c0-4.389,1.549-8.465,5.229-11.847c6.141-5.636,16.527-2.651,28.316-2.651c0.045,0,0.093-0.001,0.141-0.003
		c0.049,0.002,0.096,0.003,0.141,0.003c11.789,0,22.178-2.984,28.316,2.651c3.68,3.382,5.229,7.458,5.229,11.847
		C79.686,78.322,65,80.574,46.141,80.574z M30.104,52.548c-3.588,0-6.498,4.026-6.498,8.996c0,4.971,2.91,8.999,6.498,8.999
		c3.592,0,6.502-4.028,6.502-8.999C36.605,56.574,33.695,52.548,30.104,52.548z" />
    </symbol>

    <symbol id="svg--pinterest" viewbox="-180 -180 850 850">
        <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
				C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
				c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
				c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
				c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
				c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
    </symbol>

    <symbol id="svg--youtube" viewbox="-150 -150 800 800">
        <path d="M459,61.2C443.7,56.1,349.35,51,255,51c-94.35,0-188.7,5.1-204,10.2C10.2,73.95,0,163.2,0,255s10.2,181.05,51,193.8
			C66.3,453.9,160.65,459,255,459c94.35,0,188.7-5.1,204-10.2c40.8-12.75,51-102,51-193.8S499.8,73.95,459,61.2z M204,369.75v-229.5
			L357,255L204,369.75z" />
    </symbol>

</svg>

<div class="wrapper">
    <a href="https://www.youtube.com/@OMEGAXOfficial" class="share  youtube" title="youtube">
        <svg role="presentation" class="svg--icon">
            <use xlink:href="#svg--youtube"></use>
        </svg>
        <span class="clip">YOU-TUBE</span>
    </a>
    <a href="https://twitter.com/OmegaX_members" class="share twitter" title="member's twitter">
        <svg role="presentation" class="svg--icon">
            <use xlink:href="#svg--twitter"></use>
        </svg>
        <span class="clip">TWITTER</span>
    </a>
    <a href="https://www.instagram.com/omega_x__for_x/" title="main" class="share instagram">
        <svg role="presentation" class="svg--icon">
            <use xlink:href="#svg--instagram"></use>
        </svg>
        <span class="clip">INSTAGRAM</span>
    </a>
    <a title="all members" class="share instagram" id="memberstoggle">
        <svg role="presentation" class="svg--icon">
            <use xlink:href="#svg--more"></use>
        </svg>
        <span class="clip">INSTAGRAM</span>
    </a>
    <div class="connect2">
        <a href="https://www.instagram.com/jaehan._.film/" title="jaehan (film)" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/jaehan__k/" title="jaehan" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/junghoon_214/" title="junghoon" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/pblm._.m/" title="jehyun" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/_jangsebin/" title="sebin" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/_xenuis/" title="xen" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/0_1_gyeom/" title="hangyeom" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/hyuk.71/ " title="hyuk" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
        <a href="https://www.instagram.com/shin___yechan/" title="yechan" class="instagram members share">
            <svg role="presentation" class="svg--icon">
                <use xlink:href="#svg--instagram"></use>
            </svg>
            <span class="clip">INSTAGRAM</span>
        </a>
    </div>
</div>

<div id="aboutox">

    <div class="box box3">
        <div class="oddboxinner">
            Check out <a href="https://omegaxmasterlist.tumblr.com">OMEGA X Masterlist</a> for an easy to navigate and up-to-date resource of everything OMEGA X!
        </div>
    </div>

    <div class="box box1">
        <div class="oddboxinner">
            <h2>INTRO</h2>
            OMEGA X is an 11 member boy group that was formed by Spire Entertainment. (As of January
            11th, 2023, their contracts with Spire have all been terminated &ndash; <a href="https://docs.google.com/document/d/1PhF25EFAAwOjlc56iU40nmyiKrPiTcj0nENWqhR2eRo/edit?usp=sharing">read more on that situation here</a>). Announced on March 1st, 2021, the group is made up of idols who have previously debuted and/or participated in various idol competition shows. With the theme being "second chance", Spire released the aptly named predebut show <a href="https://youtube.com/playlist?list=PLHALcViYRLdaJzPSObnldeZ_XvXhnfBeR&si=EnSIkaIECMiOmarE">"One More ChanX"</a> on OMEGA X's official YouTube channel. The group then made their official debut on June 30th, 2021 with VAMOS. </div>
    </div>

    <div class="box box1">
        <div class="oddboxinner">
            <h2>TIMELINE</h2>
        </div>
    </div>

    <div class="box2">
<!--        YUH ADD A LINK TO AN ARTICLE OR SMTH ABOUT THE ANNOUNCEMENT         -->
        <div class="evenboxinner">
            <div class="timeline"><span class="date">March 1<span>st</span>, 2021</span> Spire announces their new boy
                group, OMEGA
                X, will debut in 2021</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F">
        <div class="placeholder">
            <a href="https://youtube.com/watch?v=GDMaoa89wT8&si=EnSIkaIECMiOmarE"><img src="/assets/debut%20trailer%201%20thumbnail.jpg" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">March 14<span>th</span>, 2021</span> First debut trailer is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F">
        <div class="placeholder">
            <a href="https://youtube.com/watch?v=9CEpnXzD-WM&si=EnSIkaIECMiOmarE"><img src="/assets/omcx%20thumbnail.jpg" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">April 8<span>th</span>, 2021</span> First teaser for One More ChanX is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2">
        <div class="evenboxinner">
            <div class="timeline"><span class="date">April 24<span>th</span>, 2021</span> First episode of OMCX is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2">
        <div class="evenboxinner">
            <div class="timeline"><span class="date">May 22<span>nd</span>, 2021</span> Last episode of OMCX is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <img src="/assets/vamos%20teaser%201.jpg" style="object-fit:contain;height:100%;width:100%;" alt="">
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">June 4<span>th</span>, 2021</span> First VAMOS teaser is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <a href="https://youtube.com/watch?v=EYYbCtHNgSs&si=EnSIkaIECMiOmarE"><img src="/assets/vamos%20album%20cover.jpg" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">June 30<span>th</span>, 2021</span> First mini album, VAMOS, is released, along with the accompanying MV</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <img src="/assets/wgo%20cb%20teaser%201.jpg" style="object-fit:contain;height:100%;width:100%;" alt="">
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">August 19<span>th</span>, 2021</span> First comeback schedule is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <a href="https://youtube.com/watch?v=CaB_KzgX5aA&si=EnSIkaIECMiOmarE"><img src="/assets/wgo%20album%20cover.png" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">September 6<span>th</span>, 2021</span> First comeback single album, WHAT'S GOIN' ON, is released, along with the accompanying MV</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2">
        <div class="evenboxinner">
            <div class="timeline"><span class="date">December 16<span>th</span>, 2021</span> First teaser for LOVE ME LIKE is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <a href="https://youtube.com/watch?v=V6JTC39xUis&si=EnSIkaIECMiOmarE"><img src="/assets/lml%20album%20cover.png" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">January 5<span>th</span>, 2022</span> Second mini album, LOVE ME LIKE, is released, along with the accompanying MV</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F">
        <div class="placeholder">
            <a href="https://youtube.com/watch?v=XJe9dfxUmgQ&si=EnSIkaIECMiOmarE"><img src="/assets/roty%20white%20fits.jpg" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">January 23<span>rd</span>, 2022</span>Won Rookie of the Year at the
                31st Seoul Music Awards!</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <img src="/assets/swim%202%20teaser%20BETTE.jpg" style="object-fit:contain;height:100%;width:100%;" alt="">
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">May 30<span>th</span>, 2022</span> First teaser for their first full album, Story Written in Music, is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <a href="https://youtube.com/watch?v=OWUqHrTYWIg&si=EnSIkaIECMiOmarE"><img src="/assets/swim%20album%20cover.png" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">June 15<span>th</span>, 2022</span> First full album, SWIM, is released, along with the accompanying MV for the title track, Play Dumb</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2">
        <div class="evenboxinner">
            <div class="timeline"><span class="date">July 2<span>nd</span>, 2022</span> First announcement of the group's
                upcoming Japanese mini album is posted</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2">
        <div class="evenboxinner">
            <div class="timeline"><span class="date">July 22<span>nd</span>, 2022</span> The MV for their Japanese
                title track, Stand Up, is released</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box2F album">
        <div class="placeholder album">
            <a href="https://youtube.com/watch?v=cWcFresOJ-0&si=EnSIkaIECMiOmarE"><img src="/assets/stand%20up%20album%20cover.png" style="object-fit:contain;height:100%;width:100%;" alt=""></a>
        </div>
        <div class="evenboxinnerF">
            <div class="timeline"><span class="date">August 23<span>rd</span>, 2022</span> First Japanese mini album, Stand
                Up, is released</div>
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>
    <!--    <hr />  horizontal line    -->

    <div class="box box3">
        <div class="oddboxinner timeline">
            <h2>USA AND LATAM WORLD TOUR 2022</h2>
            <span class="date"> September 16<span>th</span> to October 22<span>nd</span>, 2022 </span>
            For everything involving the group's USA and Latin American tour, <a
                    href="https://docs.google.com/presentation/d/12qaufWi1kjCLNJk6bTxXvBbobr2hyh5Eg2w4o3Ryv38/edit?usp=share_link">please refer to this slideshow</a>. It covers everything from the day the tour was announced up until the very end of the tour.
        </div>
    </div>
    <br>
    <div class="timelineArrow"><i class="ph-fill ph-arrow-fat-down"></i></div>
    <br>

    <div class="box box3">
        <div class="oddboxinner timeline">
            <h2>AFTER THE WORLD TOUR</h2>
            <span class="date"> October 22<span>nd</span>, 2022 to the present day</span>
            For all the events that happened after their tour ended, including their subsequent legal
                battles, <a
                        href="https://docs.google.com/document/d/1PhF25EFAAwOjlc56iU40nmyiKrPiTcj0nENWqhR2eRo/edit?usp=sharing">please refer to this document here</a>.
        </div>
    </div>


</div>
