---
templateEngineOverride: hbs
title: About OMEGA X
---
<h1>{{title}}</h1>

<div id="aboutox">

    <p>[group photo]</p>

    <p>(current social media links go here)</p>

    <p style="text-indent: 40px;">OMEGA X is an 11 member boy group that was formed by Spire Entertainment. (As of January 11th, 2023, their contracts with Spire have all been terminated &ndash; read more about the Recent Events). Announced on (date), the group is made up of idols who have previously debuted and/or participated in various idol competition shows. With the theme being &ldquo;second chance&rdquo;, Spire released the aptly named predebut show &ldquo;One More ChanX&rdquo; on OMEGA X&rsquo;s official YouTube channel. (More on OMCX). The group then made their official debut on (date) with VAMOS.</p>

    <p>VAMOS &rarr; WGO &rarr; ROTY AWARD &rarr; LML &rarr; SWIM &rarr; Recent Events (covers everything in the slideshow, July &lsquo;22 to now)</p>

    <p>Plug OXM as a resource to content (albeit under re-construction) (Learn more about OXM).</p>

    <hr /> <!--  horizontal line   -->



</div>


