---
templateEngineOverride: hbs
title: Frequently Asked Questions
---

<div id="faq">
    <ol id="questions">
        <li>Who is OMEGA X?</li>
        <li>What is a 'FOR X'?</li>
        <li>How does this work?</li>
        <li>Will the boys actually read my letter?</li>
        <li>What if I don't want anyone else to read my letter?</li>
        <li>Can I customize the letter's background/font/text-colour/etc.?</li>
    </ol>

<!--    list option #2    -->
    <dl>
        <dt>Coffee</dt>
            <dd>black hot drink</dd>
        <dt>Milk</dt>
            <dd>white cold drink</dd>
    </dl>
</div>