---
templateEngineOverride: hbs
title: Frequently Asked Questions
---

<div id="faq">
    <dl id="questions"> <!--maybe create a view/hide feature so its not a wall of text??-->
        <dt class="questions">Who is OMEGA X?</dt>
        <dd class="answers">View the <a href="/pages/aboutomegax">ABOUT OMEGA X</a> page to learn more about the group!</dd>

        <dt class="questions">What is a 'FOR X'?</dt>
            <dd class="answers">FOR X is OMEGA X's fandom name.</dd>

        <dt class="questions">How does this work?</dt>
        <dd class="answers">Visit the <a href="/pages/writeletters">WRITE Letters</a> page to submit your messages through the form, wait for the admin to approve your submission, and view them on the <a href="/pages/readletters">READ Letters</a> page! You can also click the stamp logo in the top left corner to learn more.</dd>

        <dt class="questions">Can I customize the letter's design?</dt>
            <dd class="answers">For the initial launch of the website, there is only one design that will be applied to the letters. However, I am interested in adding some customization options in the future! I'd like to add different options for the postcard background, different fonts, different colours... But at least for the first couple months of the site being live, I will spend my time focusing on making sure all the features work properly before I try to advance any of them. If/when this changes, I'll make an announcement and collect input from FOR X!</dd>

        <dt class="questions">Will the boys actually read my letter?</dt>
            <dd class="answers">Short answer: I have no idea. <br><br>
                Long answer: This website is not officially affiliated with OMEGA X in any way. I have no direct contact with the boys. I am a fan, just like you! I promise to do my best to promote the site and try to catch the attention of the boys. I would really love for them to read all the beautiful things their FOR X have to say to them. I want them to be able to get encouragement from all these letters! But unfortunately, I can't say for certain if they'll ever see any of this or not. Not to mention I would have no way of knowing if they're on here... aside from any of them posting about this website directly, there's no way for me to tell. However, I am optimistic that one day, maybe, they will find this place. But for right now... I don't know.
            </dd>

        <dt class="questions">What if I don't want anyone else to read my letter?</dt>
            <dd class="answers">Unfortunately, I am unable to limit the READ Letters page to accomodate this. With the way the site is set up, the only way I could make that happen is by having the members create an account on this website (thereby allowing me to assign them a specific role, and then limiting the READ page so only people with that role are allowed to access it). I am in no way affiliated with OMEGA X nor do I have any way of directly contacting them. And by having them creating an account, I would have access to the emails they log in with, which, as a fan, I wouldn't feel comfortable having. Not that I would EVER do anything malicious or inappropriate, but I'm just a fan and I have no interest in overstepping the boundaries between fan and artist.</dd>

        <dt class="questions">What if I have more questions that you didn't answer here?</dt>
            <dd class="answers">In that case, you can head over to the <a href="/pages/aboutthisproject">ABOUT THIS PROJECT</a> page, or scroll to the bottom of any page and click <a href="/pages/aboutthisproject/#contact">"Contact Me"</a> to find links to all the admin's social media channels.</dd>

    </dl>
</div>