---
templateEngineOverride: hbs
title: Access Denied
---
<div style="background-color:#ffc4c4;border-radius:8px;border:#b96c6c solid 5px;width:400px;margin:auto;height:fit-content;padding:20px;text-align:center;box-shadow:5px 5px 7px #502626;">
        <p style="text-align:center;font-size:x-large;width:75%;margin:auto;padding:0;">
            Sorry! <br>
            You do not have permission to access this page. <br>
        </p>
        <a href="/" style="font-variant: all-small-caps; font-size: large;">
            Return to the Home Page
        </a>
</div>


