---
title: Read Letters
---

<div class="selectering">
    {#        code below            #}
    <label for="filterSelect">Read letters written to:</label>
    <div class="select-wrapper">
        <select id="filterSelect" name="filterSelect">
            <option selected>(view all letters)</option>
            <option>All Members</option>
            <option>Jaehan</option>
            <option>Hwichan</option>
            <option>Sebin</option>
            <option>Hangyeom</option>
            <option>Taedong</option>
            <option>Xen</option>
            <option>Jehyun</option>
            <option>Kevin</option>
            <option>Junghoon</option>
            <option>Hyuk</option>
            <option>Yechan</option>
        </select>
    </div>
    {#        code above            #}
</div>
<div class="grid-container">
    <div class="filter-container" style="display: none;">
    <div class="container">
        <div class="filterer">
            <span id="filterTitle" onclick="filterToggle()">FILTER <i class="ph-bold ph-plus"></i></span>
        </div>
        <div id="buttons" style="visibility: hidden">
            <div class="row1">
                <button class="filter" onclick="myFilter('All')">OMEGA X</button>
                <button class="filter" onclick="myFilter('Jaehan')">Jaehan</button>
                <button class="filter" onclick="myFilter('Hwichan')">Hwichan</button>
                <button class="filter" onclick="myFilter('Sebin')">Sebin</button>
                <button class="filter" onclick="myFilter('Hangyeom')">Hangyeom</button>
                <button class="filter" onclick="myFilter('Taedong')">Taedong</button>
            </div>
            <div class="row2">
                <button class="filter" onclick="myFilter('Xen')">Xen</button>
                <button class="filter" onclick="myFilter('Jehyun')">Jehyun</button>
                <button class="filter" onclick="myFilter('Kevin')">Kevin</button>
                <button class="filter" onclick="myFilter('Junghoon')">Junghoon</button>
                <button class="filter" onclick="myFilter('Hyuk')">Hyuk</button>
                <button class="filter" onclick="myFilter('Yechan')">Yechan</button>
            </div>
        </div>

        <div class="closefilterer">
            <span style="visibility: hidden" id="filterCloser" onclick="removeFilters()">CLEAR <i class="ph-bold ph-x"></i></span>
        </div>
    </div>
    </div>
{#    {% include "/readpagination/postcardFinals.njk" %}#}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <div class="containerboxM grid-item modal-content" id="modal1">
        <img src="/assets/small%20borders%20postcard.svg" alt="" id="postcardM">
        <div id="contentboxM" class="template"></div>
        <div id="nameboxM" class="template"></div>
        <div id="lettercountM" class="template"></div>
    </div>

</div>

{#<script>#}
{#    let prem = document.querySelector(`.grid-container > div.containerbox.grid-item.${CSS.escape(indexNumber)} + #membersbox`).innerHTML;#}
{#    let member = prem.substring(0, prem.indexOf("/"));#}

{#    // for each div.containerbox.grid-item in div.grid-container#}
{#    let divs = document.getElementsByClassName(".containerbox.grid-item");#}
{#    for (let i = 0; i < divs.length; i++) {#}
{#        divs[i].style.color = "red";#}
{#    }#}


{#</script>#}


