---
title: Read Letters
---

{# figure out some way to resubmit all the approved letters with the correct members input selected!! #}
<div class="grid-container">
    <div class="filter-container">
    <div class="container">
        <div class="filterer">
            <span id="filterTitle" onclick="filterToggle()">FILTER +</span>
        </div>
        <div id="buttons" style="visibility: hidden">
            <div class="row1">
                <button class="filter" onclick="myFilter('All')">OMEGA X</button>
                <button class="filter" onclick="myFilter('Jaehan')">Jaehan</button>
                <button class="filter" onclick="myFilter('Hwichan')">Hwichan</button>
                <button class="filter" onclick="myFilter('Sebin')">Sebin</button>
                <button class="filter" onclick="myFilter('Hangyeom')">Hangyeom</button>
                <button class="filter" onclick="myFilter('Taedong')">Taedong</button>
            </div>
            <div class="row2">
                <button class="filter" onclick="myFilter('Xen')">Xen</button>
                <button class="filter" onclick="myFilter('Jehyun')">Jehyun</button>
                <button class="filter" onclick="myFilter('Kevin')">Kevin</button>
                <button class="filter" onclick="myFilter('Junghoon')">Junghoon</button>
                <button class="filter" onclick="myFilter('Hyuk')">Hyuk</button>
                <button class="filter" onclick="myFilter('Yechan')">Yechan</button>
            </div>
        </div>
        <div class="closefilterer">
            <span style="visibility: hidden" id="filterCloser" onclick="removeFilters()">CLEAR <i class="ph ph-x"></i></span>
        </div>
    </div>
    </div>
    {% include "postcardFinals.njk" %}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <div class="containerboxM grid-item modal-content" id="modal1">
        <img src="/assets/small%20borders%20postcard.svg" alt="" id="postcardM">
        <div id="contentboxM" class="template"></div>
        <div id="nameboxM" class="template"></div>
        <div id="lettercountM" class="template"></div>
    </div>

</div>



