---
title: Sanity Test Page
---

<div id="results"></div>

<main>
    <h2>Pets</h2>
    <ul>
        <img src="https://konstantin.digital/_next/image?url=%2Fimages%2Fposts%2Fes-modules-all-you-need-to-know%2Fej-li-fCyfgmnTj4o-unsplash.jpg&w=1200&q=75" id="l1img" height="50" width="50">
        <li id="l2">Loading pets…</li>
        <li id="l3">Loading pets…</li>
        <li id="l4">Loading pets…</li>
        <li id="l5">Loading pets…</li>
    </ul>

    <div>
        <pre>
¯\_(ツ)_/¯
Your data will show up here when you've configured everything correctly
        </pre>
    </div>
</main>

<div class="grid-container">
    <div class="containerbox grid-item" onclick="modalZoom(this)">
            
        <img src="{{ src }}" alt="" id="postcard">
            
        <div id="contentbox" class="template"> {{ content }} </div>

        <div id="namebox" class="template"> {{ content }} </div>
            
        <div id="lettercount" class="template"> {{ content }} </div>

        <div id="membersbox" class="template" style="display: none"> {{ content }} </div>

    </div>
</div>

function Item({ name, isPacked }) {
  if (isPacked) {
    return <li className="item">{name} ✔</li>;
  }
  return <li className="item">{name}</li>;
}
function Item2({ name, isPacked }) {
  if (isPacked) {
    return null;
  }
  return <li className="item">{name}</li>;
}

return (
  <li className="item">
    {isPacked ? name + ' ✔' : name}
    {# if isPacked is true, then (?) render name + ' ✔', otherwise (:) render name #}
    {#         {show ? 'Remove' : 'Show'} #}
    {#         if show is true, then render Remove otherwise Show #}

  </li>
);

function ContainerBox() {
    return (
        <div
            className="containerbox grid-item"
            onClick="modalZoom(this)">

            <img
                src="{{ placeholderDotCom }}"
                alt="{{ placeholderPostcardImage }}"
            />
                    
            <div 
                id="contentbox" 
                className="template"> 
                {{ content }}
            </div>

            <div 
                id="namebox" 
                className="template"> 
                {{ content }} 
            </div>
                
            <div 
                id="lettercount" 
                className="template"> 
                {{ content }} 
            </div>

            <div 
                id="membersbox" 
                className="template" 
                style="display: none"> 
                {{ content }} 
            </div>
    )
}

{# below ----------------------------------- #}
function Container({ children }) {
  return (
    <div className="container">
      {children}
    </div>
  );
}

export default function GridContainer({ inside }) {
    return (
        <div 
            className="grid-container">
            <ContainerBox />
        </div>
    )
}
{# above ----------------------------------- #}

<script type="module" src="/sanity.js"></script>



