---
templateEngineOverride: njk
title: Write Letters
---
{#<div id="special-announcement" style="display: none">#}
{#  <img src="/assets/xen bday graphic.jpg" alt="" width="130" height="130">#}
{#  <p>It's Xen's birthday today! Send in your birthday wishes below.</p>#}
{#  <button id="toggler" onclick="toggleAnnouncement(this)">HIDE</button>#}
{#</div>#}

<div id="letter-form-div">
  <form name="letter-form" id="letter-form" method="POST" action="/success" data-netlify="true" accept-charset="UTF-8">
    <input name="path" type="hidden" value="{{ page.url }}">

    <p>Would you like to sign your letter with a name or nickname?</p>

    <input type="radio" id="yessign" name="signature" value="True" onclick="yesCheck()" required>
    <label for="yessign">Yes</label><br>

    <input type="radio" id="nosign" name="signature" value="False" onclick="noCheck()" required>
    <label for="nosign">No</label> <small><em>*If this option is selected, your letter will be signed with "FOR X" by default.</em></small><br>
    <br>

    <label for="nickname">Name / Nickname:</label>
    <input type="text" id="nickname" name="nickname" placeholder="FOR X" maxlength="30" readonly="readonly"><br>
    <br>

{#    not styled - add to styles.css    #}
    <label for="members">Which member would you like to write your letter to?</label>
    <select id="members" name="members">
      <option selected>ALL</option>
      <option>Jaehan</option>
      <option>Hwichan</option>
      <option>Sebin</option>
      <option>Hangyeom</option>
      <option>Taedong</option>
      <option>Xen</option>
      <option>Jehyun</option>
      <option>Kevin</option>
      <option>Junghoon</option>
      <option>Hyuk</option>
      <option>Yechan</option>
    </select>


    <p>What would you like your letter to say?</p>
    <textarea name="lettercontent" id="lettercontent" required wrap="hard" cols="100"></textarea><br>

    <button type="submit" id="sendbtn">SUBMIT</button>

  </form>
</div>

{% set jscript %}
{% include "js/validate.js" %}
{% endset %}
<script>
        {{ jscript | safe }}
</script>


