---
templateEngineOverride: njk
title: Write Letters
---
<div id="special-announcement" style="">
  <img src="/assets/sbn bday graphic.jpg" alt="" width="130" height="130">
  <p>It's Sebin's birthday today! Send in your birthday wishes below.</p>
  <button id="toggler" onclick="toggleAnnouncement(this)">HIDE</button>
</div>

<div id="letter-form-div">
  <form name="letter-form" id="letter-form" method="POST" action="/success" data-netlify="true" accept-charset="UTF-8">
    <input name="path" type="hidden" value="{{ page.url }}">

    <p>Would you like to sign your letter with a name or nickname?</p>

    <input type="radio" id="yessign" name="signature" value="True" onclick="yesCheck()" required>
    <label for="yessign">Yes</label><br>

    <input type="radio" id="nosign" name="signature" value="False" onclick="noCheck()" required>
    <label for="nosign">No</label> <small><em>*If this option is selected, your letter will be signed with "FOR X" by default.</em></small><br>
    <br>

    <label for="nickname">Name / Nickname:</label>
    <input type="text" id="nickname" name="nickname" placeholder="FOR X" minlength="1" maxlength="30" readonly="readonly"><br>
    <br>

{#    not styled - add to styles.css    #}
    <label for="members">Which member would you like to write your letter to?</label>
    <div class="writepg-select-wrapper">
      <select id="members" name="members">
      <option selected value="ALL">ALL</option>
      <option value="Jaehan">Jaehan</option>
      <option value="Hwichan">Hwichan</option>
      <option value="Sebin">Sebin</option>
      <option value="Hangyeom">Hangyeom</option>
      <option value="Taedong">Taedong</option>
      <option value="Xen">Xen</option>
      <option value="Jehyun">Jehyun</option>
      <option value="Kevin">Kevin</option>
      <option value="Junghoon">Junghoon</option>
      <option value="Hyuk">Hyuk</option>
      <option value="Yechan">Yechan</option>
    </select>
    </div>

    <p>What would you like your letter to say?</p>
    <textarea name="lettercontent" id="lettercontent" required wrap="soft" cols="100" spellcheck="true"></textarea><br>

    <button type="submit" id="sendbtn">SUBMIT</button>

  </form>
</div>

{% set jscript %}
{% include "js/validate.js" %}
{% endset %}
<script>
        {{ jscript | safe }}
</script>


