---
layout: paginationbase.njk
pagination:
    data: approved-new-method
    size: 100
    alias: approved
permalink: "approved-new-method/page-{{ pagination.pageNumber + 1 }}/"
---

{%- for item in pagination.items -%}
    <div class="containerbox grid-item" onclick="modalZoom(this)">
        {% if item.data.member === ("Jaehan" or "在汉") %}
            <img src="/assets/base/jaehanbase.svg" alt="" id="postcard">
        {% elseif item.data.member === 'Hwichan' %}
            <img src="/assets/base/hwichanbase.svg" alt="" id="postcard">
        {% elseif item.data.member === ("Sebin" or "سيبين") %}
            <img src="/assets/base/sebinbase.svg" alt="" id="postcard">
        {% elseif item.data.member === ("Hangyeom" or "هانجيوم") %}
            <img src="/assets/base/hangyeombase.svg" alt="" id="postcard">
        {% elseif item.data.member === 'Taedong' %}
            <img src="/assets/base/taedongbase.svg" alt="" id="postcard">
        {% elseif item.data.member === 'Xen' %}
            <img src="/assets/base/xenbase.svg" alt="" id="postcard">
        {% elseif item.data.member === 'Jehyun' %}
            <img src="/assets/base/jehyunbase.svg" alt="" id="postcard">
        {% elseif item.data.member === 'Kevin' %}
            <img src="/assets/base/kevinbase.svg" alt="" id="postcard">
        {% elseif item.data.member === ("Junghoon" or "正勋") %}
            <img src="/assets/base/junghoonbase.svg" alt="" id="postcard">
        {% elseif item.data.member === 'Hyuk' %}
            <img src="/assets/base/hyukbase.svg" alt="" id="postcard">
        {% elseif item.data.member === ("Yechan" or "叶蝉" or "叶禅") %}
            <img src="/assets/base/yechanbase.svg" alt="" id="postcard">
        {% else %}
            <img src="/assets/small borders postcard.svg" alt="" id="postcard">
        {% endif %}
        <div id="contentbox" class="template">{{ item.data.message }}</div>

        {% if item.data.signature %}
            <div id="namebox" class="template">{{ item.data.nickname }}</div>
        {% else %}
            <div id="namebox" class="template">FOR X</div>
        {% endif %}

        <div id="lettercount" class="template"> {{ loop.revindex }} </div>
        <div id="membersbox" class="membersbox" style="display: none">
            {% if item.data.member === ("Jaehan" or "在汉") %}
                Jaehan
            {% elseif item.data.member === 'Hwichan' %}
                Hwichan
            {% elseif item.data.member === ("Sebin" or "سيبين") %}
                Sebin
            {% elseif item.data.member === ("Hangyeom" or "هانجيوم") %}
                Hangyeom
            {% elseif item.data.member === 'Taedong' %}
                Taedong
            {% elseif item.data.member === 'Xen' %}
                Xen
            {% elseif item.data.member === 'Jehyun' %}
                Jehyun
            {% elseif item.data.member === 'Kevin' %}
                Kevin
            {% elseif item.data.member === ("Junghoon" or "正勋") %}
                Junghoon
            {% elseif item.data.member === 'Hyuk' %}
                Hyuk
            {% elseif item.data.member === ("Yechan" or "叶蝉" or "叶禅") %}
                Yechan
            {% else %}
                ALL
            {% endif %}
        </div>
    </div>
{% else %}

    <li>No letters to read at the moment.</li>

{%- endfor -%}


