<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="oxllstamp.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>{{ title }}</title>

    <style>
      {% include "css/styles.css" ignore missing %}
    </style>

    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body>
<header>
  <div id="banner">
      <img src="assets/oxllstamp.svg" alt="OXLL logo" id="logo" class="select">
  </div>
  <nav>
    <div class="dropdown">
          <a href="/" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;"><i class="ph-house-bold"></i> HOME</a>

          {%- for page in collections.pages -%}
              {% if page.data.title == 'Read Letters' %}
                  <a href="{{ page.url }}"><i class="ph-envelope-open-bold"></i> READ LETTERS</a>
              {% elseif page.data.title == 'Write Letters' %}
                  <a href="{{ page.url }}"><i class="ph-pencil-line-bold"></i> WRITE A LETTER</a>
              {% endif %}
          {%- endfor -%}

          <a onclick="showDrop();" id="aboutbtn" class=""><i class="ph-info-bold"></i> ABOUT <i class="ph-caret-down"></i></a>

          <div id="dropdowncontent" class="">
              {%- for page in collections.pages -%}
                  {% if page.data.title == 'About OMEGA X' %}
                      <a href="{{ page.url }}">ABOUT OMEGA X</a>
                  {% elseif page.data.title == 'About This Project' %}
                      <a href="{{ page.url }}" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">ABOUT THIS SITE</a>
                  {% endif %}
              {%- endfor -%}
          </div>
      </div>
  </nav>
</header>


    {{ content | safe }}


    {% footer %}

{#    START tooltips here !!!   #}
    <!-- Development TIPPY -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <!-- Production TIPPY -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script>
        tippy('.select', {
            content: 'tippy text',
            placement: 'top',
            // theme: 'material',
            arrow: false,
            hideOnClick: "toggle",
            trigger: "click"
            //arrow: '<svg>...</svg>',
            //arrow: svgElement,
            //followCursor: IMPORT,
            //hideOnClick: toggle / true / false
            //trigger: 'mouseenter focus', DEFAULT
            //trigger: click / mouseenter click / focusin
            //triggerTarget: someElement, SEPARATE TIPPY TARGET FROM THE TRIGGER ELEMENT
            //zIndex: 9999, DEFAULT
            //maxWidth: 350, DEFAULT
            //appendTo: 'smth'
        })
    </script>
{#    END tooltips here !!!   #}

    {% set js %}
      {% include "js/main.js" %}
    {% endset %}
    <script>
      {{ js | safe }}
    </script>

</body>
</html>



