<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
      {% include "css/styles.css" ignore missing %}
    </style>

    <script src="https://unpkg.com/phosphor-icons"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body>
<header>
  <nav>
    <div class="dropdown">
      <a href="/" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;"><i class="ph-house-bold"></i>
        HOME</a>
      <a href="/html%20pages/readletters.html"><i class="ph-envelope-open-bold"></i> READ LETTERS</a>
      <a href="/html%20pages/writeletters.html"><i class="ph-pencil-line-bold"></i> WRITE A LETTER</a>

      <a onclick="showDrop();"
         id="aboutbtn" class=""><i class="ph-info-bold"></i> ABOUT <i
              class="ph-caret-down"></i></a>

      <div id="dropdowncontent" class="">
        <a href="/html%20pages/aboutomegax.html">ABOUT OMEGA X</a>
        <a href="/html%20pages/aboutthisproject.html" style="border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;">ABOUT THE SITE</a>
      </div>
    </div>
  </nav>
</header>


    {{ content | safe }}


    {% footer %}

    {% set js %}
      {% include "js/main.js" %}
    {% endset %}
    <script>
      {{ js | safe }}
    </script>

</body>
</html>



