<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/oxllstamp.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>{{ title }}</title>

{#    <link href="css/styles.css" rel="stylesheet" />#}
{#    <link href="css/aboutoxpage.css" rel="stylesheet" />#}
{#    <link href="css/aboutthispage.css" rel="stylesheet" />#}
{#    <link href="css/readpage.css" rel="stylesheet" />#}
{#    <link href="css/writepage.css" rel="stylesheet" />#}
{#    <link href="css/sitemapandfaqpages.css" rel="stylesheet" />#}
{#    <link href="css/mobilescreenstyling.css" rel="stylesheet" />#}

    <style>
        {% include "css/styles.css" ignore missing %}
        {% include "css/mobilescreenstyling.css" ignore missing %}

        {% if page.url == "/pages/aboutomegax/" %}
          {% include "css/aboutoxpage.css" ignore missing %}
        {% elseif page.url ==  "/pages/aboutthisproject/"%}
          {% include "css/aboutthispage.css" ignore missing %}
        {% elseif "/pages/readletters/" in page.url %}
          {% include "css/readpage.css" ignore missing %}
        {% elseif page.url == "/pages/sitemap/" or page.url == "/pages/faq/" %}
          {% include "css/sitemapandfaqpages.css" ignore missing %}
        {% elseif page.url == "/pages/writeletters/" %}
          {% include "css/writepage.css" ignore missing %}
        {% elseif "/admin/" in page.url %}
          {% include "css/approveletterspage.css" ignore missing %}
        {% endif %}
    </style>

    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web@2.0.3"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>

<body onload="myLoadFunc()">
<header>
    <div id="bannerH" onclick="openHome()">
        <img src="https://forxloveletters.com/assets/oxllstamp.svg" alt="OXLL logo" id="logo" class="select1">
    </div>
    <div id="bannerA" onclick="openAbout()">
        <img src="https://forxloveletters.com/assets/aboutModalIcon.svg" alt="about" id="infoIcon" class="select2">
    </div>
    <!-- The Modal -->
    <div id="abModal" class="modalabout hidden">
      <!-- The Close Button -->
      <span class="closer">&times;</span>
      <!-- Modal Content -->
      <div class="modal-content" id="modContainer">
          <div id="section1">
              <span id="welcome">Welcome To</span>
              <img src="/assets/FOR%20X%20LOVE%20LETTERS%20text%20only.svg" id="logoHeader">
              <p>OMEGA X is an 11 member group that was created by Spire Entertainment and debuted on June 30th, 2021. As of January 11th, 2023, their contracts with Spire have been suspended. More on that situation can be found <a href="https://docs.google.com/document/d/1PhF25EFAAwOjlc56iU40nmyiKrPiTcj0nENWqhR2eRo/edit?usp=sharing">here</a>.</p>
              <p>FOR X is the name of their fandom, meaning "FOREVER WITH OMEGA X".</p>
              <p>This site was created as a way for all FOR X around the world to let the boys know how incredibly loved they are. I wanted to create a space for the guys that is full of messages of love, support, and hope.</p>
              <small><em>DISCLAIMER:</em> THIS WEBSITE AND ITS ADMIN ARE NOT OFFICIALLY AFFILIATED WITH OMEGA X OR ITS MEMBERS IN ANY WAY WHATSOEVER. THERE IS NO GUARANTEE THE MEMBERS OF OMEGA X WILL READ ANY OF THE LETTERS SUBMITTED AND APPROVED TO THIS SITE. THIS IS AN UNOFFICIAL PROJECT CREATED BY ONE (1) INTERNATIONAL FOR X AND IS FOR ENTERTAINMENT PURPOSES ONLY.</small>
          </div>
          <hr>
          <div id="section2">
              <em>How does this work?</em>
              <p>On the HOME page, you can select one of two buttons:</p>
              <ol>
                  <li>WRITE
                      <ul>
                          <li>This button will take you to a form that will ask for your name and your message for OMEGA X. If you don't wish to sign your name, it will be signed with 'FOR X' by default. Once you hit submit, the site admin will check your letter (to prevent spam and inappropriate content). After a letter gets approved it will be visible on the READ Letters page.</li>
                      </ul><br>
                  </li>
                  <li>READ
                      <ul>
                          <li>This button brings you to the page where you can view all the approved letter submissions written by FOR X.</li>
                      </ul>
                  </li>
              </ol>
          </div>
          <hr style="border-width: 3px;">
          <div id="section3">
              <p>In the MENU bar at the top of every page, you can access the WRITE and READ Letters pages, as well as two ABOUT pages.</p>
              <ol>
                  <li>ABOUT OMEGA X
                      <ul>
                          <li>This page gives a brief history of OMEGA X, some fun facts and stats, and links to all of their currently active social media accounts. You can also find links to other resources where you can find more details about the boys and their careers.</li>
                      </ul><br>
                  </li>
                  <li>ABOUT THIS PROJECT
                      <ul>
                          <li>This page offers a look into the inspiration and development of this website, along with a bit of information about the site's admin/creator. This includes the site's Github repo link and some discussions of the coding that made this possible.</li>
                      </ul>
                  </li>
              </ol>
          </div>
      </div>
  </div>

  <nav>
    <div class="dropdown">
        <a href="/" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;"><i class="ph-bold ph-house"></i><span class="nav-text"> HOME</span></a>

          {%- for page in collections.pages -%}
              {% if page.data.title == 'Read Letters' %}
                  <a href="/pages/readletters/page-1/"><i class="ph-bold ph-envelope-open"></i><span class="nav-text"> READ LETTERS</span></a>
              {% elseif page.data.title == 'Write Letters' %}
                  <a href="{{ page.url }}"><i class="ph-bold ph-pencil-line"></i><span class="nav-text"> WRITE A LETTER</span></a>
              {% endif %}
          {%- endfor -%}

          <a onclick="showDrop();" id="aboutbtn" class=""><i class="ph-bold ph-info"></i><span class="nav-text"> ABOUT</span> <i class="ph ph-caret-down"></i></a>

          <div id="dropdowncontent" class="">
              {%- for page in collections.pages -%}
                  {% if page.data.title == 'About OMEGA X' %}
                      <a href="{{ page.url }}">ABOUT OMEGA X</a>
                  {% elseif page.data.title == 'About This Project' %}
                      <a href="{{ page.url }}" style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">ABOUT THIS PROJECT</a>
                  {% endif %}
              {%- endfor -%}
          </div>
      </div>
  </nav>
</header>


    {{ content | safe }}


    {% footer %}

{#    START tooltips here !!!   #}
    <!-- Development TIPPY -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <!-- Production TIPPY -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>

    <script>
        tippy('.show', {
            content: '<small>THIS WEBSITE AND ITS ADMIN ARE NOT OFFICIALLY AFFILIATED WITH OMEGA X OR ITS MEMBERS IN ANY WAY WHATSOEVER. THERE IS NO GUARANTEE THE MEMBERS OF OMEGA X WILL READ ANY OF THE LETTERS SUBMITTED AND APPROVED TO THIS SITE. THIS IS AN UNOFFICIAL PROJECT CREATED BY ONE (1) INTERNATIONAL FOR X AND IS FOR ENTERTAINMENT PURPOSES ONLY.</small>',
            allowHTML: true,
            theme: 'custom3',
            arrow: true,
        })
        tippy('.select2', {
            content: 'What Is This Place?',
            theme: 'custom3',
            arrow: true,
        })
        tippy('.select1', {
            content: 'HOME',
            theme: 'custom3',
            arrow: true,
        })
        tippy('.share', {
            content(reference) {
                const title = reference.getAttribute('title');
                reference.removeAttribute('title');
                return title.toUpperCase();
            },
            theme: 'custom3',
            arrow: true,
        })
        tippy('.ph-key-bold', {
            content: 'ADMIN ONLY',
            theme: 'custom3',
            arrow: true,
        })
        tippy('.btnUp', {
            content: 'SCROLL TO TOP',
            theme: 'custom3',
            arrow: true,
        })
        tippy('.btnDown', {
            content: 'SCROLL TO BOTTOM',
            theme: 'custom3',
            arrow: true,
        })
    </script>
{#    END tooltips here !!!   #}

    <script>
        const compareDate = () => {
            netlifyIdentity.gotrue.currentUser().jwt()
                .then(jwt => {
                    const logInOut = () => {
                        const d = Date.now()
                        const exp = netlifyIdentity.gotrue.currentUser().token.expires_at;
                        if (d > exp) {
                            console.log("ERROR: Your identity session has expired and the token couldn't be refreshed!")
                            netlifyIdentity.logout();
                            netlifyIdentity.open();
                        } else {
                            console.log("SUCCESS: the token hasn't expired yet and has been refreshed")
                        }
                    }
                    setTimeout(logInOut, 1000)
                })}
    </script>

    {% set js %}
      {% include "js/main.js" %}
    {% endset %}

    <script>
      {{ js | safe }}
    </script>

</body>
</html>



