


<h1>title</h1>
<p class="date">
    Posted as an example, on.
</p>
<main>
    <div class="footnote">
        <p>
            Feel free to comment on this page using the form below.
        </p>
    </div>
</main>

<div class="footnote">
    <p>
    </p>
</div>

<div class="comments">

</div>
