---
title: Moderate Letter Submissions
date: Last Modified
---

<p style="text-align: center">i get to approve or deny letter submissions as well as preview how they look on the template</p>

<div id="griddy">
    {% include "postcardPreview.njk" %}
</div>

{#<div id="deletiongriddy">#}
{#    #}{#  code   #}
{#</div>#}


