<!--<form name="approved-letters" netlify netlify-honeypot="full-name">-->
<!--  <input type="text" name="signature" id="signature">-->
<!--  <input type="text" name="nickname" id="nickname">-->
<!--  <input type="text" name="path">-->
<!--  <textarea name="message" id="lettercontent"></textarea>-->
<!--  <select id="members" name="members"></select>-->
<!--</form>-->