---
layout: layouts/base.njk
templateEngineOverride: hbs
title: Success
---
<div id="success-block">
    <p>Thank you for submitting a letter! Once the admin approves it, you'll be able to view it on the READ LETTERS page.</p>
    <a href="/pages/writeletters">Write Another Letter</a>
    <a href="/pages/readletters">Read Letters</a>
    <a href="/">HOME</a>
</div>

